<html>

<head>

</head>

<body>


<app-shared-header></app-shared-header>
<br>
<br>
<br>

<h1 style="text-align: center;">Choose a verticle...</h1>

    <div class="l-container">
        <div>Food and beverages</div>
        <div>Hotel and tourism</div>
        <div>Healthcare</div>
        <div>Education</div>
        <a [routerLink]="['/store']">
            <div class="b-game-card">
                <div class="b-game-card__cover" style="background-image: url(assets/food.jpg);">
                </div>
            </div>
        </a>

        <a [routerLink]="['/store']">
            <div class="b-game-card">
                <div class="b-game-card__cover" style="background-image: url(assets/hotel.jpg);">
                </div>
            </div>

        </a>
        <a [routerLink]="['/store']">
            <div class="b-game-card">
                <div class="b-game-card__cover" style="background-image: url(assets/healthcare.jpg);">
                </div>
            </div>
        </a>
        <a [routerLink]="['/store']">
            <div class="b-game-card">
                <div class="b-game-card__cover" style="background-image: url(assets/education.jpg);">
                </div>
            </div>

        </a>
        <div>Construction</div>
        <div></div>
        <div></div>
        <div></div>
        <a [routerLink]="['/store']">
            <div class="b-game-card">
                <div class="b-game-card__cover" style="background-image: url(assets/construction.jpg);">
                </div>
            </div>
        </a>

    </div>
</body>

</html>