<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-shared-header></app-shared-header>
    <div class="container">
        <div class="row_">
            <div class="col_">
                <app-shared-side-panel></app-shared-side-panel>
            </div>
            <div class="col_">
                <div class="header-d">Edit Discount</div>
                <div class="main-content">
                    <form #discountForm="ngForm">
                        <table class="table tc-2">
                            <tr>
                                <td class="table-h">Discount Name</td>
                                <td><input type="text" name="name" id="" class="form-control" placeholder="Name"
                                        [(ngModel)]="DISCOUNT.name"></td>
                                <td class="table-h">Status</td>
                                <td>
                                    <select name="status" class="form-control" required [(ngModel)]="DISCOUNT.status">
                                        <option value="">Status</option>
                                        <option value="true">ACTIVE</option>
                                        <option value="false">INACTIVE</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-h">Start Date</td>
                                <td>
                                    <div class="row_">
                                        <input type="date" name="start-date" placeholder="Start Date"
                                            class="form-control" [(ngModel)]="DISCOUNT.startDate" #startDate="ngModel">
                                        <input type="time" class="form-control" name="start-time" id=""
                                            [(ngModel)]="DISCOUNT.startTime" required>
                                    </div>
                                    <div class="error" *ngIf="(DISCOUNT.startDate|date:'yMMdd')<(currentDate|date:'yMMdd') && !startDate.pristine">Start Date cannot be less than today's date</div>

                                </td>
                                <td class="table-h">End Date</td>
                                <td>
                                    <div class="row_">
                                        <input type="date" name="end-date" placeholder="End Date" class="form-control"
                                            [(ngModel)]="DISCOUNT.endDate" #endDate='ngModel'>
                                        <input type="time" class="form-control" name="end-time" id=""
                                            [(ngModel)]="DISCOUNT.endTime" required>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="(DISCOUNT.endDate|date:'yMMdd')<(DISCOUNT.startDate|date:'yMMdd') && !endDate.pristine"
                        class="error">End date can not be less than Start date</div>
                        <div class="mt-2 mb-3">
                            <label for="" class="table-h">Discount On</label>
                            <select name="discount-on" class="form-control" required style="width: 15em;margin: auto;"
                                [(ngModel)]="DISCOUNT.discountOn">
                                <option value="">Discount On</option>
                                <option value="SHIPPING">SHIPPING</option>
                                <option value="TOTALSALES">TOTAL SALES</option>
                            </select>
                        </div>
                        <button class="custom-button-1" (click)="updateDiscount()">
                            Update Discount
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>