<html>

<head>

</head>

<body style="background-color: white;">

    <app-shared-header></app-shared-header>
    <app-shared-side-panel id="ssp"></app-shared-side-panel>
    <div id="form-container">
        <h1 style="text-align: center;">Profile</h1>
        <div id="container">
            <div class="card" style="border:none;background-color: rgb(248, 248, 248);">
                <div class="card-body p-4">
                    <div class="text-center w-75 m-auto">
                        <a href="index.html">
                            <span></span>
                        </a>
                        <p class="text-muted mb-4 mt-3">Profile Details</p>
                    </div>
                    <form #profileForm = "ngForm">
                    <div class="form-group mb-3">
                        <label for="storeName">Username</label>
                        <input class="form-control" name="username" type="username" 
                            id="username" required="" [(ngModel)]="profile.username" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="storeName">Store Name</label>
                        <input class="form-control" name="storeName" type="text" [(ngModel)]="storeName"
                            id="storeName" required="" placeholder="Enter Store Name" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="storeName">Email Address</label>
                        <input class="form-control" name="email" type="email" 
                            id="email-address" required="" [(ngModel)]="profile.email">
                    </div>
                    <!-- <div class="form-group mb-3">
                        <label for="phone-number">Phone Number</label>
                        <input class="form-control" name="phone" type="number" 
                            id="phone-number" required="" [(ngModel)]="profile.phoneNumber" readonly>
                    </div> -->
                    <div class="form-group mb-3">
                        <label for="storeName">Bank Name</label>
                        <input class="form-control" name="bank" type="text" 
                            id="bank-name" required="" [(ngModel)]="profile.bankName">
                    </div>
                    <div class="form-group mb-3">
                        <label for="storeName">Bank Account Number</label>
                        <input class="form-control" name="acc-no" type="text" 
                            id="acc-no" required [(ngModel)]="profile.bankAccNo">
                    </div>
                    


                    <div class="form-group mb-0 text-center">
                        <a class="btn btn-primary btn-block"
                            id="update-btn"
                            (click)="update()">
                            Update </a>
                    </div>
                </form>
                </div>
                <!-- end card-body -->
            </div>

        </div>
    </div>
</body>

</html>