<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main">
        <div class="account-pages mt-7 mb-5 ">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center w-75 m-auto">
                                    <a href="index.html">
                                        <span></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">Enter your email address and password to access
                                        admin panel.</p>
                                </div>
                                <form action="#">
                                    <div class="form-group mb-3">
                                        <label for="username">Username or Email</label>
                                        <input class="form-control" name="username" type="text"
                                        id="username" [(ngModel)]="username"  required=""
                                            placeholder="Enter your username">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="password">Password</label>
                                        <input class="form-control" name="password" (keyup.enter)="authenticateClient()"
                                            type="password" required="" [(ngModel)]="password" id="password"
                                            placeholder="Enter your password">
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signin"
                                                checked="">
                                            <label class="custom-control-label" for="checkbox-signin">Remember
                                                me</label>
                                        </div>
                                    </div>
                                    <div *ngIf="showError" style="color: red;font-size: 14px;margin-left: 3px;margin-bottom: 9px;">* {{error}}</div>
                                    <div class="form-group mb-0 text-center">
                                        <a class="btn btn-primary btn-block" (click)="authenticateClient()">
                                            Log In </a>
                                    </div>
                                </form>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p> <a  [routerLink]="['/forgot-password']" class="text-muted ml-1">Forgot your password?</a></p>
                                <p class="text-muted">Don't have an account? <a [routerLink]="['/signup']"
                                        class="text-primary font-weight-medium ml-1">Sign Up</a></p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->





    </main>
    <footer class="footer footer-alt text-center bg-dark text-white">

    </footer> <!-- build:js -->


    <!-- endbuild -->

</body>

</html>