

<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" class="sideNav" [(opened)]="opened">
	<img id="pin" src="../../../assets/push-pin.svg" (click)="pin()">

		<div class="header text-center w-100">
			<h4>
				<input type="text" value="Send" id="vertex-title">
			</h4>
		</div>
		<div class="body" id="side-nav-body">
			<div class="text-center pt-5" id="buttons-list">
				<input id="trigger-text" type="text" placeholder="Enter your text...">
				<div *ngFor="let name of buttonsArray">
					<div class="buttons">{{name}}</div>
				</div>
				<div id="add-button" (click)="insertButton()">Add Button</div>
				<button (document:click)="handleClick($event)" hidden></button>
			</div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<button mat-button (click)="toggle()" id="sideNavTest" hidden></button>
	</mat-sidenav-content>
</mat-sidenav-container>