<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" class="sideNav" [(opened)]="opened">
		<div class="header text-center w-100">
			<h4>
				<input type="text" value="Send" id="vertex-title">
			</h4>
		</div>

		<div class="body" id="side-nav-body">

			<div class="text-center pt-5">
				<input id="trigger-text" type="text" placeholder="Enter your text...">
				<div id="add-button">Add Button</div>
			</div>

		</div>

	</mat-sidenav>
	<mat-sidenav-content>
		<button mat-button (click)="toggle()" id="sideNavTest"></button>
	</mat-sidenav-content>
</mat-sidenav-container>