<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-shared-header></app-shared-header>
    <div class="container">
        <div class="row_">
            <div class="col_">
                <app-shared-side-panel></app-shared-side-panel>
            </div>
            <div class="col_">
                <div class="header-d">Edit Discount Tier List</div>
                <div class="main-content">

                    <form #discountTierForm="ngForm">
                        <table class="table tc-2">
                            <tr>
                                <td class="table-h">Min Sub Total</td>
                                <td><input type="number" name="min-subtotal" class="form-control" min="0" max="9999999"
                                        placeholder="Min subtotal" [(ngModel)]="DISCOUNT_TIER.minSubTotal"
                                        (keyup)="minValue1($event)" required></td>
                                <td class="table-h">Max Sub Total</td>
                                <td><input type="number" name="maxSubTotal" class="form-control"
                                        placeholder="Max Subtotal" [(ngModel)]="DISCOUNT_TIER.maxSubTotal"
                                        [min]="DISCOUNT_TIER.minSubTotal" max="9999999" (keyup)="minValue2($event)"
                                        required #maxSubTotal="ngModel">
                                    <div *ngIf="DISCOUNT_TIER.maxSubTotal<DISCOUNT_TIER.minSubTotal && !maxSubTotal.pristine"
                                        class="error">Max Subtotal Should not be less than Min Subtotal</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-h">Discount Amount</td>
                                <td><input type="number" name="start-date" placeholder="Discount Amount"
                                        id="discount-amt" class="form-control"
                                        [(ngModel)]="DISCOUNT_TIER.discountAmount" min="0" max="999999"
                                        (keyup)="discountAmountRange($event)" (change)="discountAmountRange($event)"
                                        required #discountAmount="ngModel">
                                    <div *ngIf="DISCOUNT_TIER.maxSubTotal<DISCOUNT_TIER.discountAmount && !discountAmount.pristine"
                                        class="error">Discount Amount should not be greater than max sub total</div>

                                </td>
                                <td class="table-h">Calculation Type</td>
                                <td> <select name="discount-on" class="form-control" required
                                        style="width: 15em;margin: auto;" [(ngModel)]="DISCOUNT_TIER.calculationType"
                                        (change)="calChange($event)">
                                        <option value="" disabled>Calculation Type</option>
                                        <option value="PERCENT" selected>PERCENTAGE</option>
                                        <option value="FIX">FIX</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <button class="custom-button-1" (click)="updateDiscountTier()">Update Discount Tier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>