<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <app-shared-header></app-shared-header>

    

    <main role="main" style="margin-top:80px;">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5" style="min-height: 550px; width: 1050px;">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Analytics</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;">

                                        <span id="graph1" [hidden]="dataAvailableToView[0]">
                                            <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels"
                                                [markers]="markers" [title]="title" [fill]="fill" [yaxis]="yaxis"
                                                [xaxis]="xaxis" [tooltip]="tooltip" [autoUpdateSeries]="true">
                                            </apx-chart>
                                        </span>
                                        <div class="note" [hidden]="!dataAvailableToView[0]">No data for daily sales
                                            available to show graph.</div>
                                        <hr>
                                        <div id="summary-sales" style="padding-top: 50px;">
                                            <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">Summary Sales</div>
                                            <div [hidden]="!dataAvailableToView[1]" class="note">No data available for
                                                daily sales to show.</div>
                                            <!-- <table [hidden]="dataAvailableToView[1]" datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="row-border hover table"> -->
                                            <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" class="row-border hover table">
                                                <thead>

                                                    <tr>
                                                        <th>Date</th>
                                                        <th class="no-sort">Total orders</th>
                                                        <th class="no-sort">Successful Orders</th>
                                                        <th class="no-sort">Canceled Orders</th>
                                                        <th class="no-sort">Amount earned</th>
                                                    </tr>
                                                </thead>


                                                <tbody>
                                                    <ng-container *ngFor="let ss of summary_sales;">

                                                        <tr>
                                                            <td>{{ss.date}}</td>
                                                            <td>
                                                                {{ss.totalOrders}}
                                                            </td>
                                                            <td>{{ss.successFullOrders}}</td>
                                                            <td>{{ss.cancelledOrders}}</td>
                                                            <td>{{ss.amountEarned}}</td>

                                                        </tr>

                                                    </ng-container>
                                                </tbody>

                                            </table>

                                        </div>
                                        
                                        <div style="padding-top: 50px;">
                                            <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">Daily Detailed Sales
                                            </div>
                                            <input type="date" placeholder="From - date" class="form-control filter"
                                                style="width:160px; margin-right: 10px;display: inline-block;" name=""
                                                id="from-date-detailed">
                                            <input type="date" placeholder="From - date" class="form-control filter"
                                                style="width:160px; margin-right: 10px;display: inline-block;" name="" id="to-date-detailed">
                                                <div class="search-btn" (click)="searchSummary()">Search</div>
                                        </div>
                                        <div id="dailySales" style="padding-top: 5px;">

                                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th class="no-sort">Store Name</th>
                                                        <th class="no-sort">Customer Name</th>

                                                        <th class="no-sort">Sub-total</th>
                                                        <th class="no-sort">Service Charge</th>
                                                        <th class="no-sort">Delivery Charge</th>
                                                        <th class="no-sort">Commission</th>
                                                        <th class="no-sort">Total Amount</th>
                                                        <th class="no-sort">Order Status</th>
                                                        <th class="no-sort">Delivery Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let datum of posts;">

                                                        <tr *ngFor="let sale of datum.sales;">
                                                        <!-- <tr *ngFor="let post of posts.sales"> -->
                                                            <td style="min-width: 120px;">{{datum.date}}</td>
                                                            <td>
                                                                {{ sale.storeName}}
                                                            </td>
                                                            <td>
                                                                {{ sale.customerName}}
                                                            </td>
                                                            <td>{{sale.subTotal}}</td>
                                                            <td>
                                                                {{sale.serviceCharge}}</td>
                                                            <td>{{sale.deliveryCharge}}</td>

                                                            <td>{{sale.commission}}</td>
                                                            <td>{{sale.total}}</td>
                                                            <td>{{sale.orderStatus}}</td>
                                                            <td style="max-width: 50px;">{{sale.deliveryStatus}}</td>
                                                        </tr>

                                                        <tr *ngIf="datum.sales.length==0">
                                                            <td>{{datum.date}}</td>
                                                            <td>
                                                                -
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                              </table>

                                            <!-- <div [hidden]="!dataAvailableToView[1]" class="note">No data available for
                                                daily sales to show.</div>
                                            <table class="table" [hidden]="dataAvailableToView[1]">
                                                <thead>

                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Store Name</th>
                                                        <th>Customer Name</th>

                                                        <th>Sub-total</th>
                                                        <th>Service Charge</th>
                                                        <th>Delivery Charge</th>
                                                        <th>Commission</th>
                                                        <th>Total Amount</th>
                                                        <th>Order Status</th>
                                                        <th>Delivery Status</th>
                                                    </tr>
                                                    
                                                </thead>


                                                <tbody>
                                                    <ng-container *ngFor="let datum of data;">

                                                        <tr *ngFor="let sale of datum.sales;">
                                                            <td style="min-width: 120px;">{{datum.date}}</td>
                                                            <td>
                                                                {{ sale.storeName}}
                                                            </td>
                                                            <td>
                                                                {{ sale.customerName}}
                                                            </td>
                                                            <td>{{sale.subTotal}}</td>
                                                            <td>
                                                                {{sale.serviceCharge}}</td>
                                                            <td>{{sale.deliveryCharge}}</td>

                                                            <td>{{sale.commission}}</td>
                                                            <td>{{sale.total}}</td>
                                                            <td>{{sale.orderStatus}}</td>
                                                            <td style="max-width: 130px;">{{sale.deliveryStatus}}</td>
                                                        </tr>

                                                        <tr *ngIf="datum.sales.length==0">
                                                            <td>{{datum.date}}</td>
                                                            <td>
                                                                -
                                                            </td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>

                                            </table> -->
                                        </div>
                                        <div id="dailyTopProducts" style="padding-top: 50px;">
                                            <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                Daily Top
                                                Products</div>
                                            <div [hidden]="!dataAvailableToView[2]" class="note">No data available for
                                                daily top products to show.</div>
                                            <!-- <table [hidden]="dataAvailableToView[2]" datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="row-border hover table"> -->
                                            <table datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="row-border hover table">
                                                <thead>

                                                    <tr>
                                                        <th class="column-style">Date</th>
                                                        <th class="column-style no-sort">Product Name</th>
                                                        <th class="column-style no-sort">Rank</th>
                                                        <th class="column-style no-sort">Total Sold</th>
                                                    </tr>
                                                </thead>


                                                <tbody>
                                                    <!-- <ng-container *ngFor="let prod of newTopCollection;"> -->
                                                        <tr *ngFor="let prod of newTopCollection;">
                                                            <td class="body-cols column-style">{{prod.date}}</td>

                                                            <td *ngIf="prod.productName" class="body-cols column-style"
                                                                style="text-overflow: clip;max-width: 150px;">
                                                                {{prod.productName}}
                                                            </td>
                                                            <td *ngIf="!prod.productName" class="body-cols column-style"
                                                                style="text-overflow: clip;max-width: 150px;">
                                                                -
                                                            </td>

                                                            <td *ngIf="prod.rank" class="body-cols column-style"
                                                                style="text-overflow: clip;max-width: 150px;">
                                                                {{prod.rank}}
                                                            </td>
                                                            <td *ngIf="!prod.rank" class="body-cols column-style"
                                                                style="text-overflow: clip;max-width: 150px;">
                                                                -
                                                            </td>

                                                            <td *ngIf="prod.totalTransaction" class="body-cols column-style">
                                                                {{tP.totalTransaction}}
                                                            </td>
                                                            <td *ngIf="!prod.totalTransaction" class="body-cols column-style">
                                                                -
                                                            </td>
                                                        </tr>

                                                        <!-- <tr *ngIf="prod.topProduct.length==0">
                                                            <td class="body-cols column-style">{{prod.date}}</td>

                                                            <td class="body-cols column-style"
                                                                style="text-overflow: clip;max-width: 150px;">
                                                                -
                                                            </td>
                                                            <td class="body-cols column-style">
                                                                -</td>
                                                        </tr> -->
                                                    <!-- </ng-container> -->
                                                </tbody>

                                            </table>
                                        </div>

                                        <!-- <div style="margin-top: 80px;text-align: center;"> -->
                                        <!-- <span style="font-size:large;font-weight:bold">Monthly Sales</span> -->
                                        <!-- <app-monthly-sales></app-monthly-sales> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer class="section-footer bg-dark position-relative">
        <section class="footer py-5">
            <div class="container">
                <div class="row pb-3">
                    <aside class="col-md-2">
                        <div class="footer-logo">
                            <h4 class="text-white font-weight-bold">Theme<span class="text-muted">Shop</span></h4>
                        </div>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Company</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Career</a></li>
                            <li> <a href="#">Find a store</a></li>
                            <li> <a href="#">Rules and terms</a></li>
                            <li> <a href="#">Sitemap</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Help</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Contact us</a></li>
                            <li> <a href="#">Money refund</a></li>
                            <li> <a href="#">Order status</a></li>
                            <li> <a href="#">Shipping info</a></li>
                            <li> <a href="#">Open dispute</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> User Login </a></li>
                            <li> <a href="#"> User register </a></li>
                            <li> <a href="#"> Account Setting </a></li>
                            <li> <a href="#"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6><i class="las la-coffee mr-2"></i>Stay Up-to-Date!</h6>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control bg-dark" placeholder="Subscribe"
                                aria-label="Subscribe.." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">@</button>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
        <!-- footer-top.// -->
        <section class="pt-3 pb-4">
            <div class="container">
                <div class="footer-cta rounded border-dark">
                    <div class="row no-gutters d-flex justify-content-between align-items-center">
                        <div class="col-5 col-md-4 affiliate d-flex align-items-center">
                            <div class="aff-btn">
                                <a href="/affiliate" class="btn btn-primary btn-sm">
                                    Affiliate
                                </a>
                            </div>
                            <div>
                                <p class="text-white d-none d-md-block m-0 w-75 small ml-3">
                                    Earn 55% and more on all sales
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="fact">
                                    <h6 class="mb-1">12,961</h6>
                                    <p class="mb-0">Downloads</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">90</h6>
                                    <p class="mb-0">Authors</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">270</h6>
                                    <p class="mb-0">Themes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom border-top border-dark white pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="pr-2">© 2019 Company name</span>
                        <span class="pr-2"><a href="#">Privacy policy</a></span>
                        <span class="pr-2"><a href="#">Terms of use</a></span>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href="#" class="mr-2"><img src="assets/img/payment/footer-visa.svg" width="42"></a>
                        <a href="#" class="mr-2"><img src="assets/img/payment/footer-mastercard.svg" width="42"></a>
                        <a href="#"><img src="assets/img/payment/footer-paypal.svg" width="42"></a>
                    </div>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
    </footer> <!-- build:js -->


</body>

</html>