<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <app-shared-header></app-shared-header>



    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div  style="display: inline-block;width: 80%;">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5" style="">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Analytics</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;">

                                        <span id="graph1" [hidden]="dataAvailableToView[0]">
                                            <apx-chart [series]="series" [chart]="chart" [dataLabels]="dataLabels"
                                                [markers]="markers" [title]="title" [fill]="fill" [yaxis]="yaxis"
                                                [xaxis]="xaxis" [tooltip]="tooltip" [autoUpdateSeries]="true">
                                            </apx-chart>
                                        </span>
                                        <div class="note" [hidden]="!dataAvailableToView[0]">No data for daily sales
                                            available to show graph.</div>
                                        <hr>

                                        <div id="summary-sales" style="padding-top: 50px;">
                                            <!-- <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">Summary Sales</div>
                                            <div [hidden]="!dataAvailableToView[1]" class="note">No data available for
                                                daily sales to show.</div> -->

                                            <div style="padding-top: 50px; padding-bottom: 15px;">
                                                <div
                                                    style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                    Summary Sales
                                                </div>
                                                <input type="date" placeholder="From - date" class="form-control filter"
                                                    style="width:160px; margin-right: 10px;display: inline-block;"
                                                    name="" id="from-date-detailed2">
                                                <input type="date" placeholder="From - date" class="form-control filter"
                                                    style="width:160px; margin-right: 10px;display: inline-block;"
                                                    name="" id="to-date-detailed2">
                                                <div class="search-btn" (click)="searchSummary()">Search</div>
                                            </div>

                                            <ngx-datatable class="material" [rows]="rows2" [columns]="[
                                                { name: 'Date' }, 
                                                { name: 'Total orders' }, 
                                                { name: 'Amount earned' }
                                                ]" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                                [footerHeight]="50" rowHeight="auto" [limit]="5">
                                            </ngx-datatable>

                                        </div>

                                        <div style="padding-top: 50px;">
                                            <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                Daily Detailed Sales
                                            </div>
                                            <input type="date" placeholder="From - date" class="form-control filter"
                                                style="width:160px; margin-right: 10px;display: inline-block;" name=""
                                                id="from-date-detailed">
                                            <input type="date" placeholder="From - date" class="form-control filter"
                                                style="width:160px; margin-right: 10px;display: inline-block;" name=""
                                                id="to-date-detailed">
                                            <div class="search-btn" (click)="searchDailyDetails()">Search</div>
                                        </div>
                                        <div id="dailySales" style="padding-top: 5px;">

                                            <ngx-datatable class="material" [rows]="rows" [columns]="[
                                                { name: 'Date' }, 
                                                { name: 'Store Name' }, 
                                                { name: 'Customer Name' }, 
                                                { name: 'Sub-total' }, 
                                                { name: 'Service Charge' }, 
                                                { name: 'Delivery Charge' }, 
                                                { name: 'Commission' },
                                                { name: 'Total' },
                                                { name: 'Order Status' },
                                                { name: 'Delivery Status' }
                                                ]" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                                [footerHeight]="50" rowHeight="auto" [limit]="5">
                                            </ngx-datatable>

                                        </div>
                                        <div id="dailyTopProducts" style="padding-top: 50px;">
                                            <!-- <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                Daily Top
                                                Products</div>
                                            <div [hidden]="!dataAvailableToView[2]" class="note">No data available for
                                                daily top products to show.</div> -->
                                            <!-- <table [hidden]="dataAvailableToView[2]" datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="row-border hover table"> -->
                                            <div style="padding-top: 50px; padding-bottom: 15px;">
                                                <div
                                                    style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                    Daily Top Products
                                                </div>
                                                <input type="date" placeholder="From - date" class="form-control filter"
                                                    style="width:160px; margin-right: 10px;display: inline-block;"
                                                    name="" id="from-date-detailed3">
                                                <input type="date" placeholder="From - date" class="form-control filter"
                                                    style="width:160px; margin-right: 10px;display: inline-block;"
                                                    name="" id="to-date-detailed3">
                                                <div class="search-btn" (click)="searchTopProduct()">Search</div>
                                            </div>

                                            <ngx-datatable class="material" [rows]="rows3" [columns]="[
                                                { name: 'Date' }, 
                                                { name: 'Product Name' }, 
                                                { name: 'Rank' },
                                                { name: 'Total Transaction' }
                                                ]" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                                [footerHeight]="50" rowHeight="auto" [limit]="5">
                                            </ngx-datatable>

                                        </div>

                                        <!-- <div style="margin-top: 80px;text-align: center;"> -->
                                        <!-- <span style="font-size:large;font-weight:bold">Monthly Sales</span> -->
                                        <!-- <app-monthly-sales></app-monthly-sales> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


</body>

</html>