.column-style{
    padding: 10px;
}

.body-cols{
    font-weight: normal;
}

#graph1{
    border-right: 1px solid rgb(206, 206, 206);
}

#dailyTopProducts{
    margin-top: 10px;
}
#dailySales{
    margin-top: 10px;
}