/* @import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css'; */

.column-style{
    padding: 10px;
}

.body-cols{
    font-weight: normal;
}

#graph1{
    border-right: 1px solid rgb(206, 206, 206);
}

#dailyTopProducts{
    margin-top: 10px;
}
#dailySales{
    margin-top: 10px;
}

.note{
    color:red;
}


.main{
    margin-top: 80px;
  }

  #daily-sales-search{
      display: flex;
      padding: 1em;
  }
  .table-headings{
      text-align: center;
      font-weight: bold;
      padding: 1em;
  }
  .col-input{
      width: 11em;
      margin-right: 1em;
  }
  #daily-detaied-sales-search{
      display: flex;
      padding: 1em;
  }
  #dtp-search{
    display: flex;
    padding: 1em;
  }