<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main">
        <div class="wrapper">

            <div class="breadcrumb-wrap">
                <div class="container py-3">
                    <div class="row d-flex justify-content-md-between justify-content-sm-center">
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                        Library
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-share-alt"></i>
                                <span>Share</span>
                            </button>
                            <button class="btn btn-ghost grey-dark like-button font-weight-bold">
                                <i class="las la-hand-holding-heart"></i>
                                <span>150 Likes</span>
                            </button>
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-bookmark"></i>
                                <span><span>Save for Later</span></span>
                            </button>

                            <!---->
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">


                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4"
                                    style="margin-left: -100px;margin-right: -140px;">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Orders</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <div style="display: flex;">
                                                <div>
                                                    <input type="text" placeholder="Customer Name"
                                                        class="form-control filter"
                                                        style="width:145px; margin-right: 10px;" name="">
                                                </div>
                                                <div>
                                                    <input type="text" placeholder="Phone Number"
                                                        class="form-control filter"
                                                        style="width:160px; margin-right: 10px;" value="" name="">
                                                </div>
                                                <div>
                                                    <input type="date" placeholder="From - date"
                                                        class="form-control filter"
                                                        style="width:160px; margin-right: 10px;" name="" id="from-date">
                                                </div>
                                                <div>
                                                    <input type="date" placeholder="To - date"
                                                        class="form-control filter"
                                                        style="width:160px; margin-right: 10px;" name="" id="to-date">
                                                </div>
                                                <select name="state-charges" class="form-control state-charges filter"
                                                    style="width: 160px;" id="paymentStatus" [(ngModel)]="status">
                                                    <option disabled>Payment Status</option>
                                                    <option value="">All</option>
                                                    <option *ngFor="let status of paymentStatuses;"
                                                        value="{{status.status}}"> {{status.status}}</option>
                                                </select>
                                                <div id="search" (click)="searchOrders()"> Search</div>
                                                <div style="margin-left: 80px;margin-top: 10px;">Total orders :
                                                    {{totalOrders}}</div>
                                            </div>
                                            <div id="clear-filter"  [routerLink]='["/orders"]'>Clear Filters</div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <!-- <th class="border-0"><input type="checkbox"></th> -->

                                                        <th class="border-0" data-breakpoints="xs">Invoice No</th>
                                                        <!-- <th class="border-0">Order</th> -->
                                                        <th class="border-0" data-breakpoints="xs">Customer Name</th>
                                                        <th class="border-0" data-breakpoints="xs">Customer Email</th>
                                                        <th class="border-0" data-breakpoints="xs">Customer Address</th>
                                                        <th class="border-0" data-breakpoints="xs">Phone No</th>
                                                        <th class="border-0" data-breakpoints="xs">Date</th>
                                                        <th class="border-0">Order Status</th>
                                                        <th class="border-0" data-breakpoints="sm xs">Payment Status
                                                        </th>
                                                        <th class="border-0" data-breakpoints="sm xs"
                                                            *ngIf="storePickup">Store Pickup
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let order of orders;' class="orders-list">
                                                        <!-- <td><input type="checkbox"></td> -->
                                                        <!-- <td class="product">{{order.id}}</td> -->
                                                        <td style="cursor: pointer;max-width: 110px;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.invoiceId}}</td>
                                                        <td style="cursor: pointer;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.receiverName}}</td>
                                                        <td style="cursor: pointer;max-width: 120px;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.email}}</td>
                                                        <td style="cursor: pointer;;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.address}}</td>
                                                        <td style="cursor: pointer;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.phoneNumber}}</td>
                                                        <td style="cursor: pointer;max-width: 140px;text-overflow: clip;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.created| date:'medium' }}</td>
                                                        <td *ngIf="order.orderShipmentDetail" style="max-width: 130px;"
                                                            (click)="showOrderItems(order)">
                                                            <div>{{order.completionStatus}}</div>
                                                        </td>
                                                        <td *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            <div>{{order.paymentStatus}}</div>
                                                        </td>
                                                        <td *ngIf="order.orderShipmentDetail && storePickup">
                                                            <mat-icon *ngIf="order.orderShipmentDetail.storePickup">
                                                                check_circle</mat-icon>
                                                            <mat-icon *ngIf="!order.orderShipmentDetail.storePickup">
                                                                clear</mat-icon>

                                                        </td>
                                                    </tr>
                                                    <div [hidden]="!(orders.length==0)" style="color:red">No data
                                                        available to view</div>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="previousPage()" *ngIf="totalPages>0">Previous</a>
                                                    </li>

                                                    <li class="page-item pagination {{page.isActive}}"
                                                        *ngFor="let page of pages" style="cursor: pointer;">
                                                        <a class="page-link" (click)="openPage(page.no)">
                                                            {{page.no}}</a>
                                                    </li>
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="nextPage()" *ngIf="totalPages>0">Next</a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!-- endbuild -->

</body>

</html>