.orders-list{
    cursor: pointer;
}
#search{
    background-color: rgb(91, 179, 127);
    border-radius: 0.5em;
    cursor: pointer;
    color: white;
    outline: none;
    margin-left: 1em;
    border: none;
    height: 3em;
    width: 5em;
}

#clear-filter{
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 3px;
    color: rgb(172, 171, 171);
    display: inline;
    border-bottom: 1px solid rgb(172, 171, 171);
}

#clear-filter:hover{
    color: #319795;
}

.main{
    margin-top: 80px;
}

.row {
    flex-wrap: nowrap!important;
}


@media screen and (max-width:900px){
    app-shared-side-panel{
        display: none;
    }
  }