<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-custom">
                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Orders</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChange($event)"
                                            [selectedIndex]="selectedIndex">
                                            <mat-tab label="New"></mat-tab>
                                            <mat-tab label="Processed"></mat-tab>
                                            <mat-tab label="Awaiting Pickup"></mat-tab>
                                            <mat-tab label="Sent Out"></mat-tab>
                                            <mat-tab label="Delivered"></mat-tab>
                                            <mat-tab label="History"></mat-tab>
                                        </mat-tab-group>

                                        <div class="orders-all">
                                            <form #filterForm="ngForm">
                                                <div class="filters">
                                                    <input type="text" name="customer-name" placeholder="Customer Name"
                                                        [(ngModel)]='orderFilter.receiverName'
                                                        class="form-control filter">
                                                    <input type="text" name="phone-number" placeholder="Phone Number"
                                                        [(ngModel)]='orderFilter.phoneNumber'
                                                        class="form-control filter">
                                                    <ng-container *ngIf="orderFilter.completionStatus==''">
                                                        <input type="date" name="from-date" placeholder="From - date"
                                                            [(ngModel)]='orderFilter.from'
                                                            class="form-control filter date-input" id="from-date">
                                                        <input type="date" name="to-date" placeholder="To - date"
                                                            [(ngModel)]='orderFilter.to'
                                                            class="form-control filter date-input" id="to-date">
                                                    </ng-container>
                                                    <button name="search" class="custom-button-1" (click)="searchOrders()">
                                                        Search</button>
                                                    <div style="padding: 0.7em;">Total orders :
                                                        {{totalOrders}}</div>
                                                </div>
                                            </form>
                                            <div id="clear-filter" [routerLink]='["/orders"]'>Clear Filters</div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <!-- <th class="border-0"><input type="checkbox"></th> -->

                                                        <th class="border-0" data-breakpoints="xs">Invoice No</th>
                                                        <!-- <th class="border-0">Order</th> -->
                                                        <th class="border-0" data-breakpoints="xs">Customer Name</th>
                                                        <th class="border-0" data-breakpoints="xs">Customer Email</th>
                                                        <th class="border-0" data-breakpoints="xs">Customer Address</th>
                                                        <th class="border-0" data-breakpoints="xs">Phone No</th>
                                                        <th class="border-0" data-breakpoints="xs">Date</th>
                                                        <th class="border-0" *ngIf="selectedIndex=='5'">Order Status</th>
                                                        <!-- <th class="border-0" data-breakpoints="sm xs">Payment Status
                                                        </th> -->
                                                        <th class="border-0" data-breakpoints="sm xs"
                                                            *ngIf="storePickup">Store Pickup
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let order of orders;' class="orders-list">
                                                        <!-- <td><input type="checkbox"></td> -->
                                                        <!-- <td class="product">{{order.id}}</td> -->
                                                        <td style="cursor: pointer;max-width: 110px;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.invoiceId}}</td>
                                                        <td style="cursor: pointer;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.receiverName}}</td>
                                                        <td style="cursor: pointer;max-width: 120px;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.email}}</td>
                                                        <td style="cursor: pointer;;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.address}}</td>
                                                        <td style="cursor: pointer;" *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.orderShipmentDetail.phoneNumber}}</td>
                                                        <td style="cursor: pointer;max-width: 140px;text-overflow: clip;"
                                                            *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            {{order.created| date:'medium' }}</td>
                                                        <td *ngIf="order.orderShipmentDetail&&(selectedIndex=='5')" style="max-width: 130px;"
                                                            (click)="showOrderItems(order)">
                                                            <div>{{order.completionStatus}}</div>
                                                        </td>
                                                        <!-- <td *ngIf="order.orderShipmentDetail"
                                                            (click)="showOrderItems(order)">
                                                            <div>{{order.paymentStatus}}</div>
                                                        </td> -->
                                                        <td *ngIf="order.orderShipmentDetail && storePickup">
                                                            <mat-icon *ngIf="order.orderShipmentDetail.storePickup">
                                                                check_circle</mat-icon>
                                                            <mat-icon *ngIf="!order.orderShipmentDetail.storePickup">
                                                                clear</mat-icon>

                                                        </td>
                                                    </tr>
                                                    <div [hidden]="!(orders.length==0)" style="color:red">No data
                                                        available to view</div>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm" style="cursor: pointer;">
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="previousPage()" *ngIf="totalPages>0">Previous</a>
                                                    </li>

                                                    <li class="page-item pagination {{page.isActive}}"
                                                        *ngFor="let page of pages">
                                                        <a class="page-link" (click)="openPage(page.no)">
                                                            {{page.no}}</a>
                                                    </li>
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="nextPage()" *ngIf="totalPages>0">Next</a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>