.orders-list{
    cursor: pointer;
}
#search{
    background-color: rgb(91, 179, 127);
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    height: 3em;
    width: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#search:hover{
    background: #319795;
}

#clear-filter{
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 3px;
    color: rgb(172, 171, 171);
    display: inline;
    border-bottom: 1px solid rgb(172, 171, 171);
}

#clear-filter:hover{
    color: #319795;
}

.main{
    margin-top: 80px;
}

.row {
    flex-wrap: nowrap!important;
}

.filter{
    width: 9em;
    margin-right: 1em;    
}
.filters{
    display: flex;
}
.orders-all{
    margin-top: 1em;
}

.date-input{
    width: 11em;
}

@media screen and (max-width:900px){
    app-shared-side-panel{
        display: none;
    }
  }