#add-agent{
    margin-left: auto;
    background-color: rgb(91, 179, 127);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  #search{
    background-color: rgb(91, 179, 127);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.main{
  margin-top: 80px;
  margin-left: 1.1%;
}