<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"> alert("sad")</script>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div  style="display: inline-block;width: 70%;">


                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Agents</h6>
                                            </div>
                                            <div id="add-agent" [routerLink]="['add']"> Add Agent</div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <div style="display: flex;">
                                                <div>
                                                    <input type="text" placeholder="Filter Agents"
                                                        class="form-control filter2"
                                                        style="width:140px; margin-right: 10px;" name="" id="">
                                                </div>
                                                <div id="search" (click)="searchOrders()"> Search</div>

                                            </div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th class="border-0">Username</th>
                                                        <th class="border-0">Type</th>
                                                        <th class="border-0">Password</th>
                                                        <th class="border-0">Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let account of accounts">

                                                        <td class="product">
                                                            {{account.username}}
                                                        </td>

                                                        <td class="product">
                                                            {{account.roleId}}
                                                        </td>
                                                        <td class="product">
                                                            **********
                                                        </td>
                                                        <td class="product">
                                                            <button class="btn btn-primary connect-button" mat-button
                                                                [matMenuTriggerFor]="menu"
                                                                (click)="actionClick()">Action</button>
                                                            <mat-menu #menu="matMenu">
                                                                <button mat-menu-item
                                                                    (click)="edit(account.id)">Edit</button>
                                                                <button mat-menu-item (click)="deleteAgent(account.id)"
                                                                    style="color: red;">Delete</button>
                                                            </mat-menu>
                                                        </td>
                                                    </tr>
                                                    <div [hidden]="!(accounts.length==0)" style="color: red;">No data
                                                        available to view</div>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="previousPage()">Previous</a>
                                                    </li>

                                                    <li class="page-item pagination {{page.isActive}}"
                                                        *ngFor="let page of pages" style="cursor: pointer;">
                                                        <a class="page-link" (click)="openPage(page.no)">
                                                            {{page.no}}</a>
                                                    </li>
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="nextPage()">Next</a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->
                                <app-mobile-app-rocket></app-mobile-app-rocket>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!-- endbuild -->

</body>

</html>