<html>

<head>
    <title>Chatbot</title>


</head>

<body>

    <header class="nav-wrap bg-dark fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark px-lg-0">
                <a class="navbar-brand mr-3 swap-link" href="">Symplified<span
                        class="text-light font-weight-bold">.biz</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item swap-link"> <a href="" class="nav-link">Home</a> </li>
                        <li class="nav-item swap-link"> <a href="/flowbuilder" class="nav-link"
                                style="color: white;">Flow builder</a> </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown megamenu">
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item font-weight-bold swap-link" href="dashboard.html"><i
                                        class="las la-user bg-info-alt p-1 rounded text-info"></i> Profile</a>
                                <a class="dropdown-item swap-link" href="dash-settings.html"><i
                                        class="las la-sign-out-alt bg-warning-alt text-warning p-1 rounded"></i>
                                    Settings</a>
                                <a class="dropdown-item swap-link" href="dash-downloads.html"><i
                                        class="las la-cloud-download-alt bg-success-alt text-success p-1 rounded"></i>
                                    Downloads</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item swap-link" href="dashboard.html"><i class="dropdown-icon"></i>
                                    Dashboard</a>
                                <a class="dropdown-item swap-link" href="dash-my-items.html"><i
                                        class="dropdown-icon"></i> My Items</a>
                                <a class="dropdown-item swap-link" href="dash-settings.html"><i
                                        class="dropdown-icon"></i> Settings
                                    <span class="badge badge-soft-success ml-2">25 New</span></a>
                                <a class="dropdown-item swap-link" href="dash-invoice.html"><i
                                        class="dropdown-icon"></i> Invoice</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item swap-link" href="javascript:void(0)"><i
                                        class="las la-sign-out-alt bg-danger-alt text-danger p-1 rounded"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <span class="float ml-1  rounded-circle shadow-lg  rounded" style="z-index: 2;">
        <menu-options (open)="addStepWithType($event)"></menu-options>
    </span>

    <a (click)="zoomIn()" class="zoom-in-float ml-1 p-2 rounded-circle shadow-lg  rounded" style="z-index: 2;"><img
            src="../assets/zoom-in.png" alt=""></a>

    <a (click)="zoomOut()" class="zoom-out-float ml-1 p-2 rounded-circle shadow-lg  rounded" style="z-index: 2;"><img
            src="../assets/zoom-out.png" alt=""></a>
    <div class="container-fluid">
        <div class="row min-vh-100 flex-column flex-md-row">
            <aside class="col-md-2 bg-white shadow-lg rounded">
                <nav class="navbar navbar-expand navbar-white flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse ">
                        <div class="">
                            <div class="row pb-3">
                                <h5 style="font-family:Arial, Helvetica, sans-serif;">Menu Actions</h5>
                            </div>
                            <div class="row">
                                <span (click)="undo()" class="p-0 ml-3">Undo</span>
                            </div>
                            <hr>
                            <div class="row">
                                <span (click)="redo()" class="p-0 ml-3">Redo</span>
                            </div>
                            <hr>

                            <div class="row">
                                <span (click)="showJson()" class="p-0 ml-3">Download Json</span>
                            </div>
                            <hr>

                            <div class="row">
                                <span (click)="deleteMultipleVertices()" class="p-0 ml-3">Delete Multiple
                                    Vertices</span>
                            </div>
                            <hr>

                            <div class="row">
                                <span (click)="copyMultipleVertices()" class="p-0 ml-3">Copy Multiple
                                    Vertices</span>
                            </div>
                            <hr>

                            <div class="row">
                                <a href="javascript:void(0);" class="p-0 ml-3"><label for="file-jsonUpload">Load
                                        Json</label></a>
                                <input id="file-jsonUpload" type="file" accept="application/JSON" name="jsonUpload"
                                    (change)="loadJson($event)" hidden />
                            </div>
                            <hr>


                            <div class="row">

                                <div class="col-1">
                                    <button mat-raised-button (click)="createFlow()">Create Flow</button>
                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <div class="col-1">
                                    <button mat-raised-button (click)="publish()">Publish</button>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <span (click)="retrieveJsonEndpoint()" class="p-0 ml-3">Load json using
                                    endpoint</span>
                            </div>
                        </div>
                    </div>
                </nav>
            </aside>
            <main class="col bg-faded py-3 flex-grow-1">


                <div #outlineContainer
                    style="z-index:1;position:absolute;overflow:hidden;top:55px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">

                </div>
                <div #graphContainer id="graphContainer">
                    <side-nav></side-nav>
                    <side-nav-action></side-nav-action>
                    <side-nav-handover></side-nav-handover>
                    <side-nav-condition></side-nav-condition>
                </div>
            </main>
        </div>
    </div>

</body>
<app-footer></app-footer>

</html>