<html>

<head></head>

<body>
    <app-shared-header></app-shared-header>
    <h3 id="select-text">Please select a flow...</h3>
    <div class="flow-card" (click)="createNewFlow()">
        <div class="flow-title" style="color: blue;">+ Create New Flow</div>
    </div>
    <div *ngIf="loading">
        <mat-spinner [diameter]="70" style="margin:auto;margin-top: 100px;"></mat-spinner>
    </div>
    <div *ngFor="let flow of flows;index as i;">
        <div class="flow-card" id="{{flow.id}}" (click)="openFlow($event)">
            <div class="flow-title" id="{{flow.id}}">{{flow.title}}</div>
        </div>
    </div>


</body>

</html>