<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel  style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div style="display: inline-block;width: 70%;">
                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Flows</h6>
                                            </div>
                                            <div id="add-flow" (click)="createNewFlow()">+ New Flow</div>

                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <div style="display: flex;">
                                                <!-- <div>
                                                    <input type="text" placeholder="Filter Flows" class="form-control"
                                                        style="width:140px; margin-right: 10px;" name="" id="">
                                                </div> -->

                                            </div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Flow Name</th>
                                                        <th>Flow Description</th>
                                                        <th style="text-align: center;">Action</th>
                                                        <!-- <th class="border-0"><input type="checkbox"></th>

                                                        <th class="border-0">Customer Id</th>
                                                        <th class="border-0">Created At</th>
                                                        <th class="border-0" data-breakpoints="sm xs">Updated At</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let flow of flows;index as i"
                                                        (click)="openFlow(flow.id)">
                                                        <td style="cursor: pointer;">
                                                            {{flow.title}}
                                                        </td>
                                                        <td style="cursor: pointer;">{{flow.description}}</td>
                                                        <td style="text-align: center;">

                                                            <button class="btn btn-primary connect-button" mat-button
                                                                [matMenuTriggerFor]="menu"
                                                                (click)="actionClick()">Action</button>
                                                            <mat-menu #menu="matMenu">
                                                                <button mat-menu-item (click)="publishFlow($event)"
                                                                    id="{{flow.id}}">Publish Flow</button>
                                                                <button mat-menu-item
                                                                    (click)="showPublishedChannels($event)"
                                                                    id="{{flow.id}}">Published
                                                                    Channels</button>
                                                                <button mat-menu-item (click)="delete($event)"
                                                                    style="color: red;" id="{{flow.id}}"
                                                                    style="color: red;">Delete Flow</button>
                                                            </mat-menu>
                                                        </td>
                                                        <div style="margin-bottom: 250px;" *ngIf="(flows.length-1)==i">
                                                        </div>
                                                    </tr>
                                                    <!-- <tr id="{{cart.id}}" *ngFor ="let cart of carts;"  (click)="showCartItems(cart)" >
                                                        <td><input type="checkbox"></td>
                                                        <td class="product">{{cart.customerId}}</td>
                                                        <td>
                                                            <div>{{cart.created}}</div>
                                                        </td>
                                                        <td>
                                                            <div>{{cart.updated}}</div>
                                                        </td>
                                                    </tr> -->

                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!-- endbuild -->

</body>

</html>