<html>

<head></head>

<body>
    <app-shared-header></app-shared-header>
    <h3 id="select-text">Please select a flow...</h3>
    <div class="flow-card">
        


        <div class="flow-title"  (click)="createNewFlow()" style="color: blue;">+ Create New Flow
        </div>
    </div>

    <div *ngIf="loading">
        <mat-spinner [diameter]="70" style="margin:auto;margin-top: 100px;"></mat-spinner>
    </div>
    <div *ngFor="let flow of flows;index as i;">
       
        <div class="flow-card"  >
            <div class="dropdown edit">
                <img class="edit" src="assets/edit.svg" alt="dots" width="20px" height="20px">
                <div class="dropdown-content">
                  <p class="options" id="{{flow.id}}" (click)="delete($event)">Published Channels</p>
                  <p class="options" style="color: red;" id="{{flow.id}}" (click)="delete($event)">Delete</p>

                  </div>
              </div>
       
              <div class="flow-title" id="{{flow.id}}" (click)="openFlow($event)">{{flow.title}}</div>
        </div>
    </div>


</body>

</html>

