  #add-category{
    margin-left: auto;
  }

  .category-image{
    border-radius: 10px;
    border :2px;
    height: 80px;
    width: 80px;
  }
  .custom-container{
    margin-top: 90px;
  }

  #ssp{
    float: left;
    margin-left: 9%;
  }

  .main{
    margin-top: 80px;
  }