<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div  style="display: inline-block;width: 70%;">
                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Categories</h6>
                                            </div>
                                            <div id="add-category" class="custom-button-1" (click)="createNewCategory()">+ New Category</div>

                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <div style="display: flex;">
                                                <div>
                                                    <!-- <input type="text" placeholder="Filter Categories" class="form-control"
                                                        style="width:140px; margin-right: 10px;" name="" id=""> -->
                                                </div>

                                            </div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Category Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let category of categories;index as i"
                                                        (click)="openCatgoryProducts(category.id)">
                                                        <td style="cursor: pointer;">
                                                            <div style="display: inline-block;"
                                                                *ngIf="category.thumbnailUrl!=null"><img
                                                                    src="{{category.thumbnailUrl}}" alt=""
                                                                    class="category-image"></div>
                                                            <div style="display: inline-block;"
                                                                *ngIf="category.thumbnailUrl==null"><img
                                                                    src="assets/img/default.png" alt=""
                                                                    class="category-image"></div>
                                                            {{category.name}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary connect-button" mat-button
                                                                [matMenuTriggerFor]="menu"
                                                                (click)="actionClick()">Action</button>
                                                            <mat-menu #menu="matMenu">
                                                                <button mat-menu-item
                                                                    (click)="editCategory(category.id)">Edit</button>
                                                                <button mat-menu-item
                                                                    (click)="deleteCategory(category.id)"
                                                                    style="color: red;">Delete</button>
                                                            </mat-menu>
                                                        </td>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- endbuild -->

</body>

</html>