#add-category{
    margin-left: auto;
    background-color: rgb(91, 179, 127);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
  }

  .category-image{
    border-radius: 10px;
    border :2px;
    height: 80px;
    width: 80px;
  }