<html>
<head>
    <title>ChatBot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>


    <a href="#" (click)="addStep()" id="addStep"class="float ml-1 p-3 rounded-circle shadow-lg mb-5 rounded"
        style="z-index: 2;">
        <menu-options></menu-options>
        
        <img id="addStepimg"src="../assets/plus.png" alt=""></a>

    <a href="#" (click)="zoomIn()" class="zoom-in-float ml-1 p-2 rounded-circle shadow-lg  rounded"
        style="z-index: 2;"><img src="../assets/zoom-in.png" alt=""></a>

    <a href="#" (click)="zoomOut()" class="zoom-out-float ml-1 p-2 rounded-circle shadow-lg  rounded"
        style="z-index: 2;"><img src="../assets/zoom-out.png" alt=""></a>
    <div class="container-fluid">
        <div class="row min-vh-100 flex-column flex-md-row">
            <aside class="col-md-2 bg-white flex-shrink-1 shadow-lg p-3 rounded">
                <nav class="navbar navbar-expand navbar-white bg-white flex-md-column flex-row align-items-start py-2">
                    <div class="collapse navbar-collapse ">
                        <div class="container-fluid">
                            <div class="row p-4">
                                <div class="col-1">
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                    <a href="#" (click)="undo()" class="p-0 ">Undo</a>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                    <a href="#" (click)="redo()" class="p-0">Redo</a>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                    <a href="#" (click)="showJson()" class="p-0">Download Json</a>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                    <a href="#" (click)="deleteMultipleVertices()" class="p-0">Delete Multiple
                                        Vertices</a>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                                    <a href="javascript:void(0);" class="p-0"><label for="file-jsonUpload">Load
                                            Json</label></a>
                                    <input id="file-jsonUpload" type="file" accept="application/JSON" name="jsonUpload"
                                        (change)="loadJson($event)" hidden />
                                </div>
                            </div>

  
                            <div class="row p-2 ml-1">

                                <div class="col-1">
                                    <button mat-raised-button (click)="createFlow()">Create Flow</button>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">

                                <div class="col-1">
                                    <button mat-raised-button (click)="publish()">Publish</button>
                                </div>
                            </div>
                            <div class="row p-2 ml-1">
                                <div class="col-1">
                               <span (click)="retrieveJsonEndpoint()" style="cursor: pointer;color:rgb(86, 86, 252);" class="p-0" >Load json using endpoint</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </aside>
            <main class="col bg-faded py-3 flex-grow-1">

                <div class="header">
                    <h2 class="border-bottom border-dark">ChatBot</h2>

                </div>
                <div #outlineContainer
                    style="z-index:1;position:absolute;overflow:hidden;top:55px;right:0px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">

                </div>
                <div #graphContainer id="graphContainer">
                    <side-nav>

                    </side-nav>
                </div>
            </main>
        </div>
    </div>

</body>

</html>