<header class="nav-wrap bg-dark fixed-top-mine">
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark px-lg-0 top">
         <li>
            <a class="navbar-brand mr-3 swap-link" style="cursor: pointer;">
               <button *ngIf="!loggedOut" mat-button [matMenuTriggerFor]="menu2" class="heading">
                  {{store}} <mat-icon>keyboard_arrow_down</mat-icon>
               </button>
               <mat-menu #menu2="matMenu">
                  <ng-container *ngFor="let store of stores">
                     <button mat-menu-item (click)="selectStore(store.id,store.name,store.domain)"
                        class="remove-outline">
                        {{store.name}} </button>
                  </ng-container>
               </mat-menu>
               <div *ngIf="loggedOut" [routerLink]="['/']" class="sym-text">Symplified.biz</div>
            </a>
         </li>

         <ul class="nav-mobile" *ngIf="!loggedOut">
            <!-- <li class="mobile-items">Store Settings</li> -->
            <li class="mobile-items" [routerLink]='["/products"]'>Products</li>
            <li class="mobile-items" [routerLink]='["/flows"]'>Flows</li>
            <li class="mobile-items" [routerLink]='["/user-channels"]'>Channels</li>
            <li class="mobile-items" [routerLink]='["/agent-accounts"]'>Users</li>
            <li class="mobile-items" [routerLink]='["/orders"]'>Orders</li>
            <li class="mobile-items" [routerLink]='["/customers"]'>Customers</li>
            <li class="mobile-items" [routerLink]='["/signin"]' (click)="logOut()">Log Out</li>
         </ul>

         <div class="stack" *ngIf="!loggedOut">
            <div class="navbar-toggler-icon ham-b-icon" (click)="navMobToggle()"></div>
         </div>
         <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div>
               <ul class="navbar-nav">
                  <li class="nav-item swap-link">
                     <a [routerLink]="['/store-management']" class="nav-link" routerLinkActive="active" hidden>
                        fs
                     </a>
                  </li>
               </ul>
            </div>
            <ul class="navbar-nav">
               <li class="nav-item d-flex align-items-center">
                  <span *ngIf="username;  else not_authenticated">
               <li class="">
                  <button mat-button [matMenuTriggerFor]="menu" id="user-menu">
                     {{username}} <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                     <button mat-menu-item [routerLink]="['/store-management']" class="remove-outline">
                        <mat-icon>store</mat-icon>
                        <span>Manage Stores</span>
                     </button>
                     <button mat-menu-item [routerLink]="['/profile']">
                        <mat-icon>person</mat-icon>
                        <span>Profile</span>
                     </button>
                  <a href="/merchant/signin">  <button mat-menu-item  (click)="logOut()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Log Out</span>
                     </button>
                  </a> 
                  </mat-menu>
               </li>
               </span>
               <ng-template #not_authenticated>
                  <li class="nav-item dropdown">
                     <a class="nav-link  no-arrow swap-link text-white" [routerLink]="['/signin']"
                        id="log-in" role="button">Log in</a>
                  </li>
                  <li class="nav-item dropdown ml-2">
                     <a class="nav-link  no-arrow  swap-link text-white" [routerLink]="['/signup']"
                        id="sign-up" role="button">Sign up</a>
                  </li>
               </ng-template>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</header>