<header class="nav-wrap bg-dark fixed-top">
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark px-lg-0">
         <li>
         <a class="navbar-brand mr-3 swap-link heading" style="cursor: pointer;">{{leftHeading}}</a>
         <div class="dropdown-content-heading">
            <div class="options" *ngFor="let store of stores" (click)="selectStore(store.id,store.name,store.domain)">{{store.name}}</div>
         </div>
      </li>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div>
               <ul class="navbar-nav">
                  <li class="nav-item swap-link">
                     <a [routerLink]="['/store-management']" class="nav-link" routerLinkActive="active" hidden>
                        fs
                     </a>


                  </li>
               </ul>
            </div>
            <ul class="navbar-nav">
               <li class="nav-item d-flex align-items-center">
                  <span *ngIf="username;  else not_authenticated">
               <li class="nav-item dropdown" style="display:inline-block;margin-right: 80px;">
                  <a class="text-white username" role="button">{{username}}</a>
                  <div class="dropdown-content-header">
                     <div class="options" [routerLink]="['/store-management']">Manage Stores</div>
                     <div class="options" id="logOut" [routerLink]="['/signin']" (click)="logOut()">Log Out</div>
                  </div>
               </li>
               </span>
               <ng-template #not_authenticated>
                  <li class="nav-item dropdown">
                     <a class="nav-link  no-arrow btn btn-primary swap-link text-white" [routerLink]="['/signin']"
                        role="button">Log in</a>
                  </li>
                  <li class="nav-item dropdown ml-2">
                     <a class="nav-link  no-arrow btn btn-primary swap-link text-white" [routerLink]="['/signup']"
                        role="button">Sign up</a>
                  </li>
               </ng-template>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</header>