.username{
    cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-header {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 130px;
  border-radius: 10px;
}

.dropdown-content-heading {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 130px;
  border-radius: 10px;
  
}

.options{
  height: 50px;
  width: 130px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;padding-top:10px;border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.options:hover{
  background-color: #505050;
}

.active{
  color: white;
}

#logOut{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding-top:10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#user-menu{
  color: white;
  outline: none;
}

.sym-text{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixed-top-mine{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.remove-outline:focus{
  outline:0 !important;
}

.stores-heading{
  font-size: 1.2rem;
  font-weight: 600;
  cursor: default;
  pointer-events: none;
}
.stores-heading:hover{
  background: white !important;
}

li{
  list-style: none;
  color: #e2e2e2;
  cursor: pointer;
}

.nav-custom{
  outline: none;
}

.nav-mobile{
  margin-top: 2em;
}

.nav-mobile{
  display: none;
}

.ham-b-icon{
  display: none;
}

.stack{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top{
  align-items: flex-start;
}


/**
For mobile
*/

@media screen and (max-width:900px){
  
  .ham-b-icon{
    display: block;
    cursor: pointer;
  }
  .mobile-items:hover{
    color: white;
  }
  .nav-mobile{
    width: 50%;
  }
}

.heading{
  outline: none;
}

#log-in{
background: #319795;
border-radius: 0.26em;
font-weight: 400;
}
#log-in:hover{
background: #34adab;

}
#sign-up{
  background-color: #000000;
  border: 1px solid #1ba94c;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
#sign-up:hover{
  background: #22b93b;
}

 /**
  For desktops
  */

 
@media screen and (min-width:900px){
  
  .nav-mobile{
    display: none;
  }
  
  .ham-b-icon{
    display: none;
  }

  .mobile-items{
    display: none;
  }
} 
