<section id="mobile-app">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-8 col-ss-9 col-12  offset-lg-1">
                <div class="wrapper-text" style="width: 100%;">
                    <p class="text">Download Rocket Chat Mobile Apps or login to https://live.symplified.biz with
                        account created above.</p>
                    <h2 class="title">Mobile Apps</h2>

                    <div class="wrapper-btns">
                        <a title="Download at App Store" href="https://apps.apple.com/app/rocket-chat/id1148741252"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="45">
                                <g data-name="Grupo 4570">
                                    <g data-name="Grupo 4562">
                                        <path class="path-hover-blue" data-name="Retângulo 14388"
                                            d="M0 0h150a10 10 0 0110 10v35H10A10 10 0 010 35V0z" fill="#000000"></path>
                                        <g data-name="Grupo 4333" fill="#f5455c">
                                            <g data-name="Grupo 4332">
                                                <path data-name="Caminho 12841"
                                                    d="M36.111 18.189c-2.112 3.667-.77 9.232 1.567 12.606 1.166 1.688 2.347 3.2 3.965 3.2h.092a4.894 4.894 0 001.84-.491 5.046 5.046 0 012.18-.516 4.749 4.749 0 012.075.5 4.387 4.387 0 001.987.477c1.822-.034 2.941-1.669 3.929-3.109a13.8 13.8 0 001.721-3.525l.007-.022a.205.205 0 00-.11-.251l-.014-.007a5.224 5.224 0 01-3.165-4.783 5.378 5.378 0 012.54-4.494l.021-.012a.205.205 0 00.058-.288 5.915 5.915 0 00-4.65-2.526 4.06 4.06 0 00-.406-.019 8.1 8.1 0 00-2.918.729 4.67 4.67 0 01-1.4.418 4.557 4.557 0 01-1.447-.423 7.013 7.013 0 00-2.549-.648h-.065a6.252 6.252 0 00-5.258 3.184z">
                                                </path>
                                                <path data-name="Caminho 12842"
                                                    d="M50.156 9a5.7 5.7 0 00-3.768 1.932 5.344 5.344 0 00-1.354 3.965.206.206 0 00.187.178c.087.006.175.01.265.01a4.829 4.829 0 003.557-1.824 5.64 5.64 0 001.324-4.08.206.206 0 00-.211-.181z">
                                                </path>
                                            </g><text data-name="Download on the" transform="translate(91.654 17)"
                                                font-size="12" font-family="Montserrat-Light, Montserrat"
                                                font-weight="300">
                                                <tspan x="-29.767" y="0">Download on the</tspan>
                                            </text><text data-name="App Store" transform="translate(93.76 31.159)"
                                                font-size="13" font-family="Inter-Medium, Inter" font-weight="500">
                                                <tspan x="-31.05" y="0">App Store</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <span style="margin-left: 10px;"></span>
                        <a title="Google Play" href="https://play.google.com/store/apps/details?id=chat.rocket.android"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="45">
                                <g data-name="Grupo 4563">
                                    <path class="path-hover-blue" data-name="Caminho 13086"
                                        d="M0 0h150a10 10 0 0110 10v35H10A10 10 0 010 35z" fill="#000000"></path>
                                    <g data-name="Grupo 4331"><text data-name="Available on the"
                                            transform="translate(82.234 17)" fill="#f5455c" font-size="12"
                                            font-family="Montserrat-Light, Montserrat" font-weight="300">
                                            <tspan x="-31.388" y="0">Available on the</tspan>
                                        </text><text data-name="Google Play" transform="translate(90.915 31.407)"
                                            fill="#f5455c" font-size="13" font-family="Inter-Medium, Inter"
                                            font-weight="500">
                                            <tspan x="-36.893" y="0">Google Play</tspan>
                                        </text>

                                        <g data-name="Grupo 4330">
                                            <g data-name="Grupo 4329">
                                                <g data-name="Grupo 4328">
                                                    <g data-name="Grupo 4327" fill="#f5455c">
                                                        <path data-name="Caminho 12837"
                                                            d="M47.418 22.679l-4.627-2.67-3.806 3.678 3.478 3.362 4.955-2.859a.872.872 0 000-1.511z">
                                                        </path>
                                                        <path data-name="Caminho 12838"
                                                            d="M42.006 19.555l-5.092-2.939L25.757 10.9l12.6 12.183z">
                                                        </path>
                                                        <path data-name="Caminho 12839"
                                                            d="M25.941 36.3l10.992-6.055 4.744-2.74-3.319-3.209z">
                                                        </path>
                                                        <path data-name="Caminho 12840"
                                                            d="M25.011 11.393l-.012 24.6 12.732-12.308z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <ul>
                            <li>Download mobile app</li>
                            <li>Open app and choose “Join Workspace”</li>
                            <li>Enter <a>“live.symplified.biz”</a>, click “Connect” and then “Login”</li>
                            <li>Now you need to enter credentials you created on this page to login. E.g. username: John
                                password:
                                doe</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4  col-lg-5 col-md-5 col-sm-4 col-ss-3 col-12 offset-lg-0 offset-0">
                <picture class="img-outside">
                    <source srcset="https://website-cdn.rocket.chat/assets/img/install/mobile.svg" type="image/png">
                    <!-- <img src="https://website-cdn.rocket.chat/assets/img/install/mobile.svg"
                        alt="App chat illustration"> -->
                </picture>
            </div>
        </div>
    </div>
</section>