#title{
    text-align: center;
    font-weight: bold;
}

#error-icon{
    height: 40px;
    width: 40px;
}
#main-content{
    line-height: 1.8;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}