<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <app-shared-header></app-shared-header>
    <main role="main">

        <div class="account-pages mt-7 mb-5">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>

                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card hover-box-shadow">
                            <div class="card-body px-auto">
                                <h4 class="card-title mt-3 text-center">Create Agent Account</h4>
                                <!-- <p class="text-center">Get started with your free account</p> -->

                                <!-- end:Social logins-->
                                <form #agentForm="ngForm">
                                    <hr class="divider divider-fade">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-user"></i> </span>
                                        </div>
                                        <input name="name" required [(ngModel)]="AGENT.name" class="form-control"
                                            placeholder="Name" type="text" required>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-user"></i> </span>
                                        </div>
                                        <div>
                                            <input name="username" required [(ngModel)]="AGENT.username"
                                                class="form-control suffix" placeholder="Username" type="text" required>
                                            -
                                            <input name="storeName" [(ngModel)]="AGENT.storeDomain"
                                                class="form-control suffix" type="text" required readonly>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-envelope"></i> </span>
                                        </div>
                                        <input name="email" required [(ngModel)]="AGENT.email" class="form-control"
                                            placeholder="Email address" type="email">
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-eye"></i> </span>
                                        </div>
                                        <select name="role" class="mr-2 form-control" aria-placeholder="Roles"
                                            [(ngModel)]="AGENT.roleId" required >
                                            <option value="">Role</option>
                                            <option value="STORE_CSR_COMPLAINT">Customer Service</option>
                                            <option value="STORE_CSR_ORDER">Order Manager</option>
                                            <option value="STORE_CSR_ADMIN">Customer service + Order manager</option>\
                                        </select>
                                    </div>

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-key"></i> </span>
                                        </div>
                                        <input class="form-control" name="password"
                                            (keyup.enter)="createAccount($event)" required [(ngModel)]="AGENT.password"
                                            placeholder="Create password" type="password" required>
                                    </div>
                                    <div *ngIf="AGENT.showError"
                                        style="color: red;font-size: 14px;margin-left: 3px;margin-bottom: 9px;">*
                                        {{AGENT.errorText}}</div>
                                <div class="form-group">

                                    <a class="btn btn-primary btn-block" (click)="createAccount(agentForm.form)">Create
                                        Account</a>
                                </div>
                            </form>

                            </div>
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->




    </main>
    <footer class="footer footer-alt text-center bg-dark text-white">
        <div class="container">

        </div>
    </footer> <!-- build:js -->


    <!-- endbuild -->

</body>

</html>