#add-channel{
    margin-left: auto;
}

#fb-button-custom{
    width: 200px;
    border-radius: 5px;
    background-color: #4267b2;
    padding: 6px;
    color: white;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}


.connect-button1{
    background-color: red;
    border-color: red;
    width: 110px;
}

.main{
    margin-top: 80px;
  }