<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main"    >
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div style="display: inline-block;width: 70%;">


                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">User Channels</h6>
                                            </div>
                                            <div id="add-channel" (click)="addChannel()"> Add Channel</div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Channels</th>
                                                        <th>Ref Id</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let channel of myChannels;index as i">

                                                        <td class="product">
                                                            {{channel.channelName}}
                                                        </td>
                                                        <td>
                                                            {{channel.refId}}
                                                        </td>
                                                        <td><button type="button"
                                                                class="btn btn-primary width-150 connect-button1"
                                                                (click)="deleteUserChannel(channel.id)">Delete</button>
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let channel of channels;index as i">

                                                        <td class="product">
                                                            {{channel.name}}
                                                        </td>
                                                        <td>
                                                            {{channel.id}}
                                                        </td>
                                                        <td><button id="{{channel.id}}" style="display: block;"
                                                                type="button"
                                                                class="btn btn-primary width-150 connect-button"
                                                                (click)="connectToFbPage(channel.access_token,channel.id,i,channel.name)">Connect</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <hr style="margin-top:0;margin-bottom: 0;">
                                        <!-- <div id="fb-button-custom" style="display: block;" (click)="fbLogin()">Log In
                                            with Facebook</div> -->
                                        <div id="hidden-button-click" hidden (click)="showPagesToBeConnected()"></div>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!-- endbuild -->

</body>

</html>