#add-channel{
    margin-left: auto;
    background-color: rgb(91, 179, 127);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

#fb-button-custom{
    width: 200px;
    border-radius: 5px;
    background-color: #4267b2;
    padding: 6px;
    color: white;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}