<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />
    <title>Invoice page - MarketSpot - Digital marketplace template.</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,400,600,700,800,900&display=swap"
        rel="stylesheet">

</head>

<body>

    <app-shared-header></app-shared-header>

    <main role="main">
        <div class="wrapper">
            <div class="container container-mine">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12 rm-padding">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="invoice">
                                            <div class="col-6 col-md-6 col-lg-6" >
                                                <div class="invoice-name text-right" >
                                                    <h5 class="mb-0">Invoice</h5>
                                                </div>
                                            </div>
                                            <div class="row mb-3 d-flex align-items-center">
                                                <div class="col-6 col-md-6 col-lg-6">
                                                    <div class="invoice-logo">
                                                        <img src="{{this.logo}}" class="img-fluid" alt="invoice-logo">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-meta">
                                                        <ul class="list-inline mb-3">
                                                            <li class="list-inline-item">
                                                                <p class="mb-0">Date : <span
                                                                        class="text-black f-w-5 ml-2">{{date}}</span>
                                                                </p>
                                                            </li>
                                                            <br>
                                                            <li class="list-inline-item">
                                                                <p class="mb-0">Invoice # : <span
                                                                        class="text-black f-w-5 ml-2">{{invoiceNo}}</span>
                                                                </p>
                                                            </li>
                                                            <br>
                                                            <li class="list-inline-item">
                                                                <p class="mb-0">Payment Status : <span
                                                                        class="text-success f-w-5 ml-2">{{paymentStatus}}</span>
                                                                </p>
                                                                <p class="mb-0">Completion Status : <span
                                                                        class="text-success f-w-5 ml-2">{{this.order.completionStatus}}</span>
                                                                </p>
                                                                <p>
                                                                    <button *ngIf="(order.completionStatus=='PAYMENT_CONFIRMED')
                                                                                && (dt!='SELF')" style="
                                                                width: 180px;
                                                                background-color: #2bbe5c;
                                                                border-radius: 25px;
                                                                color: white;
                                                                border: none;
                                                                height: 40px;
                                                                margin-top: 10px;
                                                                margin-bottom: 19px;
                                                                font-size: larger;" (click)="readyForPickup()">Ready
                                                                        for Pickup</button>
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" mb-3">

                                                <div class="">
                                                    <div class="invoice-address mb-4">
                                                        <p class="f-w-5 text-black">Shipment Address :
                                                            {{address.address}}</p>
                                                        <p class="f-w-5 text-black">City : {{address.city}}</p>
                                                        <p class="f-w-5 text-black">Country : {{address.country}}</p>
                                                        <p class="f-w-5 text-black" style="display: inline-block;">State
                                                            : {{address.state}} ,</p>
                                                        <p class="f-w-5 text-black"
                                                            style="display: inline-block;margin-left: 10px;">Zip code :
                                                            {{address.zipcode}}</p>
                                                        <p class="f-w-5 text-black">
                                                            Customer Name :
                                                            <ng-container *ngIf="order.orderShipmentDetail">
                                                                {{order.orderShipmentDetail.receiverName}}
                                                            </ng-container>
                                                        </p>
                                                        <p class="f-w-5 text-black">
                                                            <ng-container *ngIf="order.paymentType">
                                                                Payment Type :
                                                                {{order.paymentType}}
                                                            </ng-container>
                                                        </p>
                                                        <p class="f-w-5 text-black">
                                                            <ng-container *ngIf="order.customerNotes">
                                                                Customer Notes :
                                                                {{order.customerNotes}}
                                                            </ng-container>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-summary">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-borderless">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Sku</th>
                                                                        <th scope="col">Product Name</th>
                                                                        <th scope="col">Special Instruction</th>
                                                                        <th scope="col" hidden>Weight</th>
                                                                        <th scope="col">Quantity</th>
                                                                        <th scope="col">Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let orderItem of orderItems;index as i">
                                                                        <th scope="col">{{i+1}}</th>
                                                                        <td>{{orderItem.SKU}}</td>
                                                                        <td class="prod-name">{{orderItem.productName}}
                                                                        </td>
                                                                        <td>{{orderItem.specialInstruction}}</td>
                                                                        <td hidden>{{orderItem.weight}}</td>
                                                                        <td>{{orderItem.quantity}}</td>
                                                                        <td>{{orderItem.price}}</td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-total">

                                                        <table style="float: right;">
                                                            <th></th>
                                                            <th></th>
                                                            <tr>
                                                                <td class="amount-cols">Sub Total</td>
                                                                <td>{{order.subTotal | number :'0.2-3'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="amount-cols">Service Charges</td>
                                                                <td>{{order.storeServiceCharges==null?0:order.storeServiceCharges
                                                                    | number :'0.2-3'}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="amount-cols"><span style="color:red">Delivery
                                                                        Charges
                                                                    </span></td>
                                                                <td>{{order.deliveryCharges | number :'0.2-3'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="amount-cols" style="color:rgb(9, 180, 3)">
                                                                    Grand Total</td>
                                                                <td>{{total | number :'0.2-2'}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="invoice-note">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button style="
                                            width: 156px;
                                            background-color: #319795;
                                            border-radius: 25px;
                                            color: white;
                                            border: none;
                                            height: 40px;
                                            margin: auto;
                                            margin-bottom: 19px;
                                            font-size: larger;" (click)="printInvoice()">Print Invoice</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>

</html>