<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />
    <title>Invoice page - MarketSpot - Digital marketplace template.</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,400,600,700,800,900&display=swap"
        rel="stylesheet">

</head>

<body>

    <app-shared-header></app-shared-header>

    <main role="main">
        <div class="wrapper">
            <div class="container container-mine">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12 rm-padding">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="invoice">
                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="invoice-name text-right">
                                                    <h5 class="mb-0">Invoice</h5>
                                                </div>
                                            </div>
                                            <div class="row mb-3 d-flex align-items-center">
                                                <div class="col-6 col-md-6 col-lg-6">
                                                    <div class="invoice-logo">
                                                        <img src="{{this.logo}}" class="img-fluid" alt="invoice-logo">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-meta">
                                                        <ul class="list-inline mb-3">
                                                            <table>
                                                                <th></th>
                                                                <th></th>
                                                                <tr>
                                                                    <td class="amount-cols">Date</td>
                                                                    <td>{{date}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="amount-cols">Invoice #</td>
                                                                    <td>
                                                                        {{invoiceNo}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="amount-cols">
                                                                        Payment Status
                                                                    </td>
                                                                    <td class="green-text">{{paymentStatus}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="amount-cols">
                                                                        Completion Status</td>
                                                                    <td class="green-text">{{order.completionStatus}}
                                                                    </td>
                                                                </tr>
                                                                <tr
                                                                    *ngIf="order.orderShipmentDetail&&order.orderShipmentDetail.storePickup">
                                                                    <td class="amount-cols">Store Pickup</td>
                                                                    <td>
                                                                        <mat-icon
                                                                            *ngIf="order.orderShipmentDetail.storePickup">
                                                                            check_circle</mat-icon>
                                                                        <mat-icon
                                                                            *ngIf="!order.orderShipmentDetail.storePickup">
                                                                            clear
                                                                        </mat-icon>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <li class="list-inline-item">
                                                                <p class="mt-3">
                                                                    <ng-container>
                                                                        <button
                                                                            *ngIf="completionStatus.nextActionText !== null"
                                                                            class="order-status-btn"
                                                                            (click)="readyForPickup(completionStatus.nextCompletionStatus)">
                                                                            {{ this.completionStatus.nextActionText }}
                                                                        </button>
                                                                    </ng-container>
                                                                    <!-- <ng-container>
                                                                        <button *ngIf="(order.completionStatus=='PAYMENT_CONFIRMED' || order.completionStatus=='RECEIVED_AT_STORE')"
                                                                            class="order-status-btn"
                                                                            (click)="readyForPickup('BEING_PREPARED')">
                                                                            Process
                                                                        </button>
                                                                    </ng-container>
                                                                    <ng-container>
                                                                        <button *ngIf="(order.completionStatus=='BEING_PREPARED')"
                                                                            class="order-status-btn"
                                                                            (click)="readyForPickup('AWAITING_PICKUP')">
                                                                            Ready
                                                                            for Pickup
                                                                        </button>
                                                                    </ng-container>
                                                                    <ng-container>
                                                                        <button *ngIf="(order.completionStatus=='AWAITING_PICKUP')"
                                                                            class="order-status-btn"
                                                                            (click)="readyForPickup('BEING_DELIVERED')">
                                                                            Send
                                                                        </button>
                                                                    </ng-container>
                                                                    <ng-container>
                                                                        <button *ngIf="(order.completionStatus=='BEING_DELIVERED')"
                                                                            class="order-status-btn"
                                                                            (click)="readyForPickup('DELIVERED_TO_CUSTOMER')">
                                                                            Received
                                                                        </button>
                                                                    </ng-container> -->
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div>

                                                <div class="">
                                                    <div class="invoice-address">
                                                        <p class="f-w-5 text-black">Shipment Address :
                                                            {{address.address}}</p>
                                                        <p class="f-w-5 text-black">City : {{address.city}}</p>
                                                        <p class="f-w-5 text-black">Country : {{address.country}}</p>
                                                        <p class="f-w-5 text-black" style="display: inline-block;">State
                                                            : {{address.state}} ,</p>
                                                        <p class="f-w-5 text-black"
                                                            style="display: inline-block;margin-left: 10px;">Zip code :
                                                            {{address.zipcode}}</p>
                                                        <p class="f-w-5 text-black">
                                                            Customer Name :
                                                            <ng-container *ngIf="order.orderShipmentDetail">
                                                                {{order.orderShipmentDetail.receiverName}}
                                                            </ng-container>
                                                        </p>
                                                        <p class="f-w-5 text-black">
                                                            <ng-container *ngIf="order.paymentType">
                                                                Payment Type :
                                                                {{order.paymentType}}
                                                            </ng-container>
                                                        </p>
                                                        <p class="f-w-5 text-black">
                                                            <ng-container *ngIf="order.customerNotes">
                                                                Customer Notes :
                                                                {{order.customerNotes}}
                                                            </ng-container>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-summary">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-borderless">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Sku</th>
                                                                        <th scope="col">Product Name</th>
                                                                        <th scope="col">Special Instruction</th>
                                                                        <th scope="col" hidden>Weight</th>
                                                                        <th scope="col">Quantity</th>
                                                                        <th scope="col">Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let orderItem of orderItems;index as i"
                                                                        class="tr">
                                                                        <th scope="col">{{i+1}}</th>
                                                                        <td>{{orderItem.SKU}}</td>
                                                                        <td class="prod-name">{{orderItem.productName}}
                                                                        </td>
                                                                        <td>{{orderItem.specialInstruction}}</td>
                                                                        <td hidden>{{orderItem.weight}}</td>
                                                                        <td>{{orderItem.quantity}}</td>
                                                                        <td>{{orderItem.price}}</td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="invoice-total">

                                                        <table style="float: right;">
                                                            <th></th>
                                                            <th></th>
                                                            <tr class="tr">
                                                                <td class="amount-cols">Sub Total</td>
                                                                <td>{{order.subTotal | number :'0.2-3'}}</td>
                                                            </tr>
                                                            <tr class="tr">
                                                                <td class="amount-cols">Discount
                                                                    ({{order.appliedDiscountDescription==null?0:order.appliedDiscountDescription}})
                                                                </td>
                                                                <td>{{(order.appliedDiscount==null?0:order.appliedDiscount)
                                                                    | number :'0.2-3'}}
                                                                </td>
                                                            </tr>
                                                            <tr class="tr">
                                                                <td class="amount-cols">Service Charges</td>
                                                                <td>{{order.storeServiceCharges==null?0:order.storeServiceCharges
                                                                    | number :'0.2-3'}}
                                                                </td>
                                                            </tr>
                                                            <tr class="tr">
                                                                <td class="amount-cols"><span style="color:red">Delivery
                                                                        Charges
                                                                    </span></td>
                                                                <td>{{order.deliveryCharges | number :'0.2-3'}}</td>
                                                            </tr>
                                                            <tr class="tr">
                                                                <td class="amount-cols"><span >Delivery
                                                                        Charges Discount
                                                                        ({{order.deliveryDiscountDescription==null?0:order.deliveryDiscountDescription
                                                                        }})
                                                                    </span></td>
                                                                <td>{{(order.deliveryDiscount==null?0:order.deliveryDiscount)
                                                                    | number :'0.2-3'}}</td>
                                                            </tr>
                                                            <tr class="tr">
                                                                <td class="amount-cols" style="color:rgb(9, 180, 3)">
                                                                    Grand Total</td>
                                                                <td>{{total | number :'0.2-2'}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6 col-lg-6">
                                                    <div class="invoice-note">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button class="order-status-btn" (click)="printInvoice()">Print Invoice</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>

</html>