.prod-name{
    /* text-overflow: clip; */
    /* text-align: justify; */
    text-align: justify;
    width: 200px;
}
.amount-cols{
    text-align: left;
    width: 200px;
}

.print-invoice-btn{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 156px;
  background-color: #319795;
  border-radius: 25px;
  color: white;
  border: none;
  height: 40px;
  margin: auto;
  margin-bottom: 19px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.order-status-btn{
  background-color: rgb(91, 179, 127);
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  padding: 0.8em;
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: 10em;
  margin: 0 auto;
}
.order-status-btn:hover{
  background: #319795;
}

.tr{
    border-bottom: 1px solid black;
}
.green-text{
  color: #36ad5a;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
.container-mine{
    margin-top: 5em;
}

@media screen and (max-width:900px){
    app-shared-side-panel{
        display: none;
    }
    table{
      font-size: 0.7rem;
    }
    body{
      font-size: 0.85rem;
    }
  }