.table-cols{
    width: 100px;
}

.main{
    margin-top: 80px;
  }

  .search-btn{
    background-color: rgb(91, 179, 127);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    padding: 10px;
    width: 70px;
    display: inline-block;
}
#search-inputs{
  padding: 1em;
  display: flex;
}