<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <app-shared-header></app-shared-header>

    <main role="main" style="margin-top:80px;">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5" style="min-height: 550px;">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Settlement</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Settlement Date</th>
                                                        <th>Commission</th>
                                                        <th>Fees</th>
                                                        <th>Gross</th>
                                                        <th>Total</th>
                                                        <th>refund</th>
                                                        <th>Service Fee</th>
                                                    </tr>
                                                </thead>


                                                <tbody>
                                                    <tr *ngFor="let set of settlement">
                                                        <td>
                                                            {{set.settlementDate}}
                                                        </td>
                                                        <td>{{set.commission}} </td>

                                                        <td>
                                                            {{set.fees}}

                                                        </td>
                                                        <td>
                                                            {{set.gross}}

                                                        </td>
                                                        <td>
                                                            {{set.nett}}

                                                        </td>
                                                        <td>
                                                            {{set.refund}}
                                                        </td>
                                                        <td>
                                                            {{set.serviceFee}}

                                                        </td>
                                                        <td>
                                                            {{set.startDate}}

                                                        </td>
                                                        <td>
                                                            {{set.endDate}}

                                                        </td>

                                                    </tr>

                                                </tbody>

                                            </table>
                                            <div [hidden]="!(settlement.length==0)" style="color: red;">No data
                                                available to view</div>
                                        </div>

                                        <!-- <div style="margin-top: 80px;text-align: center;"> -->
                                        <!-- <span style="font-size:large;font-weight:bold">Monthly Sales</span> -->
                                        <!-- <app-monthly-sales></app-monthly-sales> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>