<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <app-shared-header></app-shared-header>



    <main role="main" class="main">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div  style="display: inline-block;width: 80%;">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5" style="">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Settlement</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;">

                                        <div id="dailyTopProducts">
                                            <!-- <div style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                Daily Top
                                                Products</div>
                                            <div [hidden]="!dataAvailableToView[2]" class="note">No data available for
                                                daily top products to show.</div> -->
                                            <!-- <table [hidden]="dataAvailableToView[2]" datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3" class="row-border hover table"> -->
                                                <div style="padding-top: 50px; padding-bottom: 15px;">
                                                    <!-- <div
                                                        style="font-weight: bold;text-align: center; padding-bottom: 15px;">
                                                        Summary Sales
                                                    </div> -->
                                                    <input type="date" placeholder="From - date" class="form-control filter"
                                                        style="width:160px; margin-right: 10px;display: inline-block;"
                                                        name="" id="from-date-detailed">
                                                    <input type="date" placeholder="From - date" class="form-control filter"
                                                        style="width:160px; margin-right: 10px;display: inline-block;"
                                                        name="" id="to-date-detailed">
                                                    <div class="search-btn" (click)="searchSettlement()">Search</div>
                                                </div>

                                            <ngx-datatable class="material" [rows]="rows" [columns]="[
                                                { name: 'Payout Date' }, 
                                                { name: 'Start Date' }, 
                                                { name: 'Cut-Off Date' },
                                                { name: 'Gross Amount' },
                                                { name: 'Service Charges' },
                                                { name: 'Delivery Charges' },
                                                { name: 'Commision' },
                                                { name: 'Nett Amount' }
                                                ]" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                                [footerHeight]="50" rowHeight="auto" [limit]="5">
                                            </ngx-datatable>

                                        </div>

                                        <!-- <div style="margin-top: 80px;text-align: center;"> -->
                                        <!-- <span style="font-size:large;font-weight:bold">Monthly Sales</span> -->
                                        <!-- <app-monthly-sales></app-monthly-sales> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


</body>

</html>