<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main">
        <div class="account-pages mt-7 mb-5 ">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body p-4" *ngIf="fp">
                                <div class="text-center w-75 m-auto">
                                    <a href="index.html">
                                        <span></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">Tell us the email address associated with your
                                        Symplified account, and we’ll send you an email with a code to reset your
                                        password.</p>
                                </div>
                                <form [formGroup]="fgForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-3">
                                        <label for="emailaddress">Email</label>
                                        <input class="form-control" name="email" id="email" formControlName="email"
                                            placeholder="Enter your email">
                                        <span *ngIf="fgForm.get('email').invalid && fgForm.get('email').dirty"
                                            style="color: red;">Email's format doesn't look right</span>

                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit">
                                        Reset Password
                                    </button>
                                </form>
                            </div>
                            <div class="card-body p-4" *ngIf="!fp">
                                <div class="text-center w-75 m-auto">
                                    <a href="index.html">
                                        <span></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">
                                        Please update your password by entering new password below.</p>
                                </div>
                                
                                    <div class="form-group mb-3">
                                        <label for="password">Password</label>
                                        <input class="form-control" name="password" id="password" type="password"
                                            placeholder="New Password" [(ngModel)]="password">
                                    </div>
                                    <button class="btn btn-primary btn-block" (click)="resetNewPassword()">
                                        Reset Password
                                    </button>
                               
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Don't have an account? <a [routerLink]="['/signup']"
                                        class="text-primary font-weight-medium ml-1">Sign Up</a></p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->





    </main>
    <footer class="footer footer-alt text-center bg-dark text-white">
    </footer> <!-- build:js -->

    <!-- endbuild -->

</body>

</html>