<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main">
        <div class="account-pages mt-7 mb-5 ">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center w-75 m-auto">
                                    <a href="index.html">
                                        <span></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">Tell us the email address associated with your Symplified account, and we’ll send you an email with a code to reset your password.</p>
                                </div>
                                <form action="#">
                                    <div class="form-group mb-3">
                                        <label for="emailaddress">Email</label>
                                        <input class="form-control" name="email" type="text"
                                             id="email" required=""
                                            placeholder="Enter your email">
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <a class="btn btn-primary btn-block" >
                                            Reset Password </a>
                                    </div>
                                </form>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Don't have an account? <a [routerLink]="['/signup']"
                                        class="text-primary font-weight-medium ml-1">Sign Up</a></p>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->





    </main>
    <footer class="footer footer-alt text-center bg-dark text-white">
        <div class="container">
            2019 - 2020 © MarketSpot theme by <a [routerLink]="['']" class="text-muted">Codenpixel</a>
        </div>
    </footer> <!-- build:js -->
    <script src="assets/vendor/js/jquery.js"></script>
    <script src="assets/vendor/js/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/js/swiper.min.js"></script>
    <script src="assets/vendor/js/prism.min.js"></script>

    <script src="assets/js/custom.js"></script>

    <!-- endbuild -->

</body>

</html>