<h1 mat-dialog-title style="text-align: center;">Create New Channel</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" id="channels-dropdown">
    <mat-label>Select Channel</mat-label>
    <mat-select [(value)]="channel" (selectionChange)="channelSelected()">
      <mat-option *ngFor="let page of channels;index as i" value="{{page.name}}">
        {{page.name}}
      </mat-option>

    </mat-select>
  </mat-form-field>
  <div id="fb-button-custom" style="display: block;" (click)="fbLogin()" *ngIf="fbButton">Log In with Facebook</div>
  <div id="wa-contact">If you have WhatsApp Reference Id enter below otherwise contact admin to get the WhatsApp
    Reference Id</div>

  <mat-form-field id="refId">
    <mat-label>Ref Id</mat-label>
    <input matInput [(ngModel)]="refId">
  </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="!fbButton">
  <button mat-button (click)="create()">Create New Channel</button>
</div>