<aside>
    <br>
    <div>
        <ul class="nav flex-column dash-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/']">
                    <div><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 1px;margin-bottom: 3px;"
                            width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg><i class="bi bi-house"></i>Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/orders']">
                    <div><i class="las la-cloud-download-alt"></i>Orders</div>
                </a>
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/customers']">
                    <div><i class="las la-cloud-download-alt"></i>Customers</div>
                </a>
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/user-channels']">
                    <div><i class="las la-cloud-download-alt"></i>Channels</div>
                </a>
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/agent-accounts']">
                    <div><i class="las la-cloud-download-alt"></i>Accounts</div>
                </a>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    style="color: #319795;cursor: pointer;" (click)="openSubMenu()">
                    <div><i class="las la-file"></i>Products</div>
                </a>
            </li>
            <ul class="submenu">
                <div><a [routerLink]="['/products']" class="nav-item">View Products</a></div>
                <div><a [routerLink]="['/products/add']" class="nav-item">Add Product</a></div>
                <div><a [routerLink]="['/product-categories']" class="nav-item">Categories</a></div>
            </ul>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/carts']">
                    <div><i class="las la-receipt"></i>Cart</div>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/flows']">
                    <div><i class="las la-plus"></i>Flows</div>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-settings.html">
                    <div><i class="las la-cog"></i>Analytics</div>

                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Marketing</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Discounts</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Apps</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li> -->
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-lg-8 mt-sm-3 mb-1 text-muted">
            <!-- <span>Sales Channels</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="16"></line>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                </svg>
            </a> -->
        </h6>
        <ul class="nav flex-column dash-nav">

            <li class="nav-item">
                <a style="float: left;"
                    class="nav-link active d-flex justify-content-between align-items-center text-small"
                    aria-current="page" href="https://{{onlineStore}}.symplified.store">

                    Online Store

                </a>

                <svg style="margin-left: 156px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
            </li>
        </ul>

    </div>
</aside>