.submenu {
    display: none;
}
.submenu2{
    display: none;
}

.filter-green{
    filter: invert(50%) sepia(80%) saturate(366%) hue-rotate(130deg) brightness(86%) contrast(83%);
    margin-right: 19px;
}