<aside>
    <br>
    <div>
        <ul class="nav flex-column dash-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    (click)="storeSettings()" style="color: #319795;cursor: pointer;">
                    <div> <img src="assets/store-icon-menu.svg" alt="" height="24" width="24" class="filter-green">
                        Store Settings</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    style="color: #319795;cursor: pointer;" (click)="openSubMenu()">
                    <div> <img src="assets/products-icon-menu.svg" alt="" height="24" width="24" class="filter-green">
                        Products</div>
                </a>
            </li>
            <ul class="submenu">
                <div><a [routerLink]="['/products']" class="nav-item">View Products</a></div>
                <div><a [routerLink]="['/products/add']" class="nav-item">Add Product</a></div>
                <div><a [routerLink]="['/product-categories']" class="nav-item">Categories</a></div>
            </ul>
            <li class="nav-item" *ngIf="allowed">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/flows']">
                    <div> <img src="assets/favicon.png" height="20" width="24" alt="" style="margin-right: 19px;"> Flows
                    </div>

                </a>
            </li>

            <li class="nav-item"> <a class="nav-link active d-flex justify-content-between align-items-center"
                    aria-current="page" [routerLink]="['/user-channels']">
                    <div> <img src="assets/social-icons-menu.svg" alt="" height="34" width="34"
                            style="margin-right: 11px;">Channels</div>
                </a>
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/agent-accounts']">
                    <div><img src="assets/users-icon-menu.svg" alt="" height="24" width="24" class="filter-green">Users
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    style="color: #319795;cursor: pointer;" (click)="openOrders()">
                    <div> <img src="assets/order-icon-menu.svg" alt="" height="24" width="24"
                            class="filter-green">Orders</div>
                </a>
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    [routerLink]="['/customers']">
                    <div><img src="assets/customer-icon-menu.svg" alt="" height="24" width="24"
                            class="filter-green">Customers</div>
                </a>

            <li class="nav-item">
                <a style="color: #319795;cursor: pointer;"
                    class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    (click)="openSubMenu2()">
                    <div><img style="margin-bottom: 10px;" src="assets/analytics-menu-icon.svg" alt="" height="20"
                            width="20" class="filter-green">Analytics</div>

                </a>
            </li>
            <ul class="submenu2">
                <div><a [routerLink]="['/sales']" class="nav-item">Sales</a></div>
                <div><a [routerLink]="['/settlement']" class="nav-item">Settlement</a></div>
            </ul>
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Marketing</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Discounts</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page"
                    href="dash-invoice.html">
                    <div><i class="las la-receipt"></i>Apps</div>
                    <div class="d-flex  align-items-center">
                        <p class="mb-0 text-small text-success">

                        </p>
                    </div>
                </a>
            </li> -->
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-lg-8 mt-sm-3 mb-1 text-muted">
        </h6>
        <ul class="nav flex-column dash-nav">

            <li class="nav-item">
                <a style="float: left;color: #319795;cursor: pointer;" href="https://{{storeDomain}}.symplified.store"
                    target="_blank" class="nav-link active d-flex justify-content-between align-items-center text-small"
                    aria-current="page">
                    Preview Store

                </a>

                <svg style="margin-left: 5%;margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
            </li>
        </ul>

    </div>
</aside>