<h1 mat-dialog-title style="text-align: center;">Update Category</h1>
<div mat-dialog-content class="container">
    <mat-form-field id="category">
        <mat-label>Category Name</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
    <br>
    <mat-label>Upload Category Image</mat-label>
    <br>
    <div class="custom-file">
        <input type="file" class="custom-file-input" (change)="onFileChanged($event)" />
        <label class="custom-file-label" for="inputGroupFile011">Choose
            file </label>
    </div>
    <br>
    <br>
    <img src="{{catImage.preview}}" alt="" height="30px" width="30px" id="category-image">

</div>
<div mat-dialog-actions>
    <button mat-button (click)="update()">Update Category</button>
</div>