<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <header class="nav-wrap bg-dark fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark px-lg-0">
                <a class="navbar-brand mr-3 swap-link" href="">Symplified<span
                        class="text-light font-weight-bold">.biz</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item swap-link"> <a href="" class="nav-link">Home</a> </li>
                        
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown megamenu">
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item font-weight-bold swap-link" href="dashboard.html"><i
                                        class="las la-user bg-info-alt p-1 rounded text-info"></i> Profile</a>
                                <a class="dropdown-item swap-link" href="dash-settings.html"><i
                                        class="las la-sign-out-alt bg-warning-alt text-warning p-1 rounded"></i>
                                    Settings</a>
                                <a class="dropdown-item swap-link" href="dash-downloads.html"><i
                                        class="las la-cloud-download-alt bg-success-alt text-success p-1 rounded"></i>
                                    Downloads</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item swap-link" href="dashboard.html"><i class="dropdown-icon"></i>
                                    Dashboard</a>
                                <a class="dropdown-item swap-link" href="dash-my-items.html"><i
                                        class="dropdown-icon"></i> My Items</a>
                                <a class="dropdown-item swap-link" href="dash-settings.html"><i
                                        class="dropdown-icon"></i> Settings
                                    <span class="badge badge-soft-success ml-2">25 New</span></a>
                                <a class="dropdown-item swap-link" href="dash-invoice.html"><i
                                        class="dropdown-icon"></i> Invoice</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item swap-link" href="javascript:void(0)"><i
                                        class="las la-sign-out-alt bg-danger-alt text-danger p-1 rounded"></i>
                                    Logout</a>
                            </div>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link  no-arrow btn btn-primary swap-link text-white" href="/signin"
                                role="button" data-toggle="dropdown" aria-expanded="false">Log in</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item swap-link" href="signup.html">Signup</a>
                                <a class="dropdown-item swap-link" href="author-signup.html">Author signup</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">

        <div class="account-pages mt-7 mb-5">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card hover-box-shadow">
                            <div class="card-body px-auto">
                                <h4 class="card-title mt-3 text-center" href="products/add">Create Account</h4>
                                <p class="text-center">Get started with your free account</p>

                                <!-- end:Social logins-->
                                <hr class="divider divider-fade">
                                <form>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-envelope"></i> </span>
                                        </div>
                                        <input name="" class="form-control" placeholder="Email address" type="email">
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-key"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="Create password" type="password">
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="las la-user"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="Store Name" type="password">
                                    </div>
                                    <div class="form-group">
                                            
                                            <a  class="btn btn-primary btn-block"  href="chooseverticle">Create Account</a>
                                    </div>
                                    <p class="text-center">Have an account?
                                        <a href="/signin">Log In</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->




    </main>
    <footer class="footer footer-alt text-center bg-dark text-white">
        <div class="container">
            2019 - 2020 © MarketSpot theme by <a href="" class="text-muted">Codenpixel</a>
        </div>
    </footer> <!-- build:js -->
    <script src="assets/vendor/js/jquery.js"></script>
    <script src="assets/vendor/js/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/js/swiper.min.js"></script>
    <script src="assets/vendor/js/prism.min.js"></script>

    <script src="assets/js/custom.js"></script>

    <!-- endbuild -->

</body>

</html>