<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />

</head>

<body>

    <app-shared-header></app-shared-header>

    <main role="main">
        <div class="wrapper">

            <div class="breadcrumb-wrap">
                <div class="container py-3">
                    <div class="row d-flex justify-content-md-between justify-content-sm-center">
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                        Library
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-share-alt"></i>
                                <span>Share</span>
                            </button>
                            <button class="btn btn-ghost grey-dark like-button font-weight-bold">
                                <i class="las la-hand-holding-heart"></i>
                                <span>150 Likes</span>
                            </button>
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-bookmark"></i>
                                <span><span>Save for Later</span></span>
                            </button>

                            <!---->
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <app-shared-side-panel></app-shared-side-panel>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Add New Product</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-6">

                                                        <p style="color: red;" *ngIf="requiredError"> * Please complete
                                                            all fields</p>

                                                        <div class="form-group">
                                                            <label for="l301">Title</label>
                                                            <input type="text" style="width: 578px;" [(ngModel)]="title"
                                                                class="form-control necessary" id="l301"
                                                                (keyup)="titleChange($event)" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="form-control-label" for="l151">Description</label>
                                                    <!-- <textarea class="form-control" [(ngModel)]="description" rows="3"
                                                        id="l151"></textarea> -->
                                                    <ckeditor
                                                        [config]="{ toolbar: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                                                        [editor]="Editor" [(ngModel)]="description" rows="3"></ckeditor>
                                                </div>
                                                <h4 class="mt-4 mb-3">Media</h4>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" multiple class="custom-file-input"
                                                            (change)="onThumbnailChanged($event,0)"
                                                            id="inputGroupFile011" />
                                                        <label class="custom-file-label" for="inputGroupFile011">Choose
                                                            file(s) </label>
                                                    </div>
                                                </div>
                                                <p class="text-muted">Dimensions: 100 x 100 </p>

                                                <div *ngFor="let prodImg of productImages;index as i"
                                                    style="display: inline-block;margin-top: 3px;margin-right: 3px;">
                                                    <div class="image-container">
                                                        <img id="product-image-{{i}}" src="{{prodImg.preview}}" alt=""
                                                            class="image" height="768px" width="1336px">
                                                        <div class="overlay" (click)="setThumbnail(i)">Set as thumbnail?
                                                        </div>
                                                    </div>
                                                    <img src="assets/red-cross.svg"
                                                        style="margin-left: 5px;margin-bottom: 100px;" alt=""
                                                        height="14px" width="14px" (click)="deleteProductImages(i)">
                                                </div>

                                                <br />

                                                <h4 class="text-black mb-3">Pricing</h4>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l30">Price</label>
                                                            <input id="general-price" type="text" min="0"
                                                                [disabled]="variantChecked"
                                                                (keyup)="priceChange($event)"
                                                                class="form-control necessary" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6" hidden>
                                                        <div class="form-group">
                                                            <label for="l31">Compare at price</label>
                                                            <input type="number" min="0" [(ngModel)]="compareAtPrice"
                                                                class="form-control" id="l31" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6" hidden>
                                                        <div class="form-group">
                                                            <label for="l30">Cost per item</label>
                                                            <input type="number" min="0" [(ngModel)]="costPerItem"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6" hidden>
                                                        <div>
                                                            <div>
                                                                <div>Margin</div>
                                                                <div>-</div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div>
                                                                <div>Profit</div>
                                                                <div>-</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 ml-3">
                                                        <input hidden class="form-check-input" [(ngModel)]="chargeTax"
                                                            type="checkbox" value="">
                                                        <label for="" hidden>Charge Tax on this product</label>
                                                    </div>
                                                </div>
                                                <br />
                                                <h4 class="text-black mb-3">Inventory</h4>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l30" hidden>Inventory Managed by</label>
                                                            <div>
                                                                <select name="Inventory-manager" hidden
                                                                    [(ngModel)]="inventoryMngdBy" id="inventory-manage">
                                                                    <option value="shopify">Shopify</option>
                                                                    <option value="dropshipman">Dropshipman</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l30">SKU (Stock Keeping Unit)</label>
                                                            <input [disabled]="variantChecked" type="text"
                                                                [(ngModel)]="sku" class="form-control necessary" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="quantity">Quantity</label>
                                                            <br>
                                                            <input [disabled]="variantChecked" type="number"
                                                                [(ngModel)]="quantity" id="quantity"
                                                                class="form-control necessary" name="quantity" min="1"
                                                                max="10000">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l30">Minimum Quantity For alarm</label>
                                                            <input type="text" [(ngModel)]="minQtyAlarm"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input"
                                                                    [(ngModel)]="trackQuantity" type="checkbox" value=""
                                                                    id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">

                                                                    Track quantity
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input"
                                                                    [(ngModel)]="continueSelling" type="checkbox"
                                                                    value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">

                                                                    Continue selling when out of stock
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 hidden class="text-black mb-3">Shipping</h4>
                                                <div hidden class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input"
                                                                    [(ngModel)]="physicalProduct" type="checkbox"
                                                                    value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">

                                                                    This is a physical product
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" hidden>
                                                    <div class="col-lg-10">
                                                        <div class="form-group">
                                                            <div>Weight</div>
                                                            <p style="font-weight: normal;">Used to calculate shipping
                                                                rates at checkout and label prices during fulfillment.
                                                            </p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="quantity">Weight</label>
                                                            <br>
                                                            <input type="number" id="quantity" name="quantity" min="1"
                                                                value="0.0" max="10000">
                                                            <select name="" [(ngModel)]="weight"
                                                                id="weight-type-dropdown">
                                                                <option value="">lb</option>
                                                                <option value="">oz</option>
                                                                <option value="">kg</option>
                                                                <option value="">g</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" hidden>
                                                    <div class="col-lg-6">
                                                        Customs information
                                                    </div>
                                                    <div class="col-lg-12" style="font-weight: normal;">
                                                        Used by border officers to calculate duties when shipping
                                                        internationally. Shown on customs forms you print during
                                                        fulfillment.
                                                    </div>
                                                </div>
                                                <div class="row" hidden>
                                                    <div class="col-lg-6">
                                                        Country/Region of origin
                                                    </div>
                                                    <div class="col-lg-12" style="font-weight: normal;">
                                                        <select name="countries" [(ngModel)]="country">
                                                            <option value="{{country.code}}"
                                                                *ngFor="let country of countries">{{country.name}}
                                                            </option>

                                                        </select>
                                                    </div>
                                                    <div class="col-lg-10" style="font-weight:normal">In most cases,
                                                        where the product is manufactured.</div>
                                                    <div class="col-lg-10">
                                                        <div class="form-group">
                                                            <label for="l30">HS (Harmonized System) code</label>
                                                            <input type="text" [(ngModel)]="hsCode"
                                                                placeholder="Search by product keyword or HS code"
                                                                class="form-control" id="l30" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="text-black mb-3">Variants</h4>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input"
                                                                    [(ngModel)]="variantChecked"
                                                                    (change)="variantChanged($event)" type="checkbox"
                                                                    value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">

                                                                    This product has multiple options, like different
                                                                    sizes or colors
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6" *ngIf="variantChecked">
                                                        <p class="text-muted" style="width: 400px;">In order to add a
                                                            tag, press enter after
                                                            typing it.</p>
                                                        Options
                                                    </div>
                                                </div>

                                                <div *ngIf="variantChecked">
                                                    <div *ngFor="let option of options; index as i;">
                                                        <div class="row">
                                                            <div class="col-lg-6" style="font-weight: lighter;">
                                                                Option {{i+1}}
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-lg-3" style="font-weight: lighter;">
                                                                <div class="form-group">
                                                                    <input type="text"
                                                                        (keyup)="variantNameChanged($event,i)"
                                                                        (change)="variantNameChanged($event,i)"
                                                                        placeholder="Size"
                                                                        class="form-control necessary"
                                                                        [formControl]="myControl"
                                                                        [matAutocomplete]="auto" />
                                                                    <mat-autocomplete autoActiveFirstOption
                                                                        #auto="matAutocomplete"
                                                                        (optionSelected)="optionSelectedAutoComplete($event.option,i)">
                                                                        <mat-option
                                                                            *ngFor="let option of filteredOptions | async"
                                                                            [value]="option">
                                                                            {{option}}
                                                                        </mat-option>
                                                                    </mat-autocomplete>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-7" style="font-weight: lighter;">
                                                                <div class="form-group">
                                                                    <tag-input [(ngModel)]="items[i]"
                                                                        [placeholder]="'+Option'"
                                                                        (keyup.enter)="variantsChanged($event)"
                                                                        (keyup)="variantsChanged($event)"
                                                                        [separatorKeyCodes]="[32, 188]"
                                                                        (onRemove)="onRemove($event,i)"
                                                                        [modelAsStrings]="true"
                                                                        [secondaryPlaceholder]="'Split options with comma'">
                                                                    </tag-input>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-1 mt-3"
                                                                style="font-weight: lighter;display: inline-block;cursor: pointer;"
                                                                (click)="deleteVariant(i)">
                                                                <img src="assets/red-cross.svg" height="20px"
                                                                    width="20px" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="add-option" (click)="addAnotherOption()">Add another
                                                            option</div>
                                                    </div>
                                                </div>


                                                <h4 class="text-black mb-3" *ngIf="variantChecked">Preview</h4>
                                                    <table *ngIf="variantChecked" id="table-inventory">
                                                        <thead>
                                                            <th>Image</th>
                                                            <th>Variant</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th>Sku</th>
                                                            <th>Upload</th>
                                                            <th>Unavailable</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let combo of combos;index as i;">
                                                                <td><img class="i-item-img" src="{{images[i].preview}}"
                                                                        alt="" height="768px" width="1336px"></td>
                                                                <td>{{combo.variant}}</td>
                                                                <td><input type="number" class="form-control tc"
                                                                        (keyup)="priceChanged($event,i)"
                                                                        value="{{combo.prices}}" placeholder="RM 0.00"  />
                                                                </td>
                                                                <td> <input type="number" class="form-control"
                                                                        value="{{combo.quantity}}"
                                                                        (keyup)="quantityChanged($event,i)" name=""
                                                                        id="" min="0"></td>
                                                                <td><input value="{{combo.sku}}"
                                                                        (keyup)="skuChanged($event,i)" type="text"
                                                                        class="form-control  tc" /> </td>
                                                                <td>
                                                                    <div class="custom-file">
                                                                        <input type="file" multiple
                                                                            class="custom-file-input"
                                                                            (change)="onFileChanged($event,i)"
                                                                             />
                                                                        <label class="custom-file-label"
                                                                            for="inputGroupFile01"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control available"
                                                                        type="checkbox" name="" (change)="inventoryUnAvailable($event,i)">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                <!-- <h4 class="text-black mb-3">Search engine listing preview
                                                </h4>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>Add a title and description to see how this product might
                                                            appear in a search engine listing</p>
                                                    </div>

                                                </div> -->

                                                <div class="form-actions my-4">
                                                    <button type="button" class="btn btn-primary width-150"
                                                        (click)="saveProduct()">
                                                        Save Product
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                        [routerLink]="['/products']">Cancel</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 right-side-card shadow-lg">
                                                <h4 class="text-black mb-3">Product Status</h4>
                                                <div class="add-item position-relative mb-3">
                                                    <div class="add-item-img d-flex  border-radius">
                                                        <select name="Inventory-manager" [(ngModel)]="productStatus"
                                                            class="form-control" id="inventory-manage">
                                                            <option value="">Select status</option>
                                                            <option value="ACTIVE">Active</option>
                                                            <option value="DRAFT">Draft</option>
                                                            <option value="INACTIVE ">INACTIVE</option>

                                                        </select>
                                                    </div>
                                                    <div style="font-weight: normal;" hidden>This product will be hidden
                                                        from
                                                        all sales channels.</div>
                                                    <br>
                                                    <div hidden>SALES CHANNELS AND APPS</div>
                                                    <div hidden style="margin-left: 19px;"> <input
                                                            class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">

                                                            Online Store
                                                        </label>
                                                    </div>
                                                    <br>
                                                    <h4 class="text-black mb-3">Category</h4>
                                                    <div class="add-item position-relative mb-3">
                                                        <div class="add-item-img d-flex  border-radius">
                                                        </div>
                                                        <input list="categories-data-list" id="categories"
                                                            [(ngModel)]='category' type="text"
                                                            class="form-control necessary" />
                                                        <datalist id="categories-data-list">
                                                            <option value="{{cat.name}}" id="{{cat.id}}"
                                                                *ngFor="let cat of categories;"></option>
                                                        </datalist>
                                                        <div class="add-item-img d-flex  border-radius" hidden>
                                                            <div hidden>Vendor</div>
                                                        </div>
                                                        <input type="text" class="form-control" hidden />
                                                        <div class="add-item-img d-flex  border-radius" hidden>
                                                            <div hidden>Collections</div>
                                                        </div>
                                                        <input type="text" placeholder="Search for collections" hidden
                                                            class="form-control" />
                                                        <div class="add-item-img d-flex  border-radius">
                                                            <div hidden>Tags</div>
                                                        </div>
                                                        <input type="text" placeholder="Vintage, cotton, summer" hidden
                                                            class="form-control" />
                                                    </div>
                                                    <br>
                                                    <!-- <label for="weight">Weight in KG</label>

                                                    <input type="number" id="delivery-weight" name="quantity" min="1"
                                                        placeholder="Weight in Kg" value="0" max="10000" min="0"
                                                        [(ngModel)]="weight" class="form-control"> -->
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer class="section-footer bg-dark position-relative">
        <section class="footer py-5">
            <div class="container">
                <div class="row pb-3">
                    <aside class="col-md-2">
                        <div class="footer-logo">
                            <h4 class="text-white font-weight-bold">Theme<span class="text-muted">Shop</span></h4>
                        </div>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Company</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Career</a></li>
                            <li> <a href="#">Find a store</a></li>
                            <li> <a href="#">Rules and terms</a></li>
                            <li> <a href="#">Sitemap</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Help</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Contact us</a></li>
                            <li> <a href="#">Money refund</a></li>
                            <li> <a href="#">Order status</a></li>
                            <li> <a href="#">Shipping info</a></li>
                            <li> <a href="#">Open dispute</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> User Login </a></li>
                            <li> <a href="#"> User register </a></li>
                            <li> <a href="#"> Account Setting </a></li>
                            <li> <a href="#"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6><i class="las la-coffee mr-2"></i>Stay Up-to-Date!</h6>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control bg-dark" placeholder="Subscribe"
                                aria-label="Subscribe.." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">@</button>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
        <!-- footer-top.// -->
        <section class="pt-3 pb-4">
            <div class="container">
                <div class="footer-cta rounded border-dark">
                    <div class="row no-gutters d-flex justify-content-between align-items-center">
                        <div class="col-5 col-md-4 affiliate d-flex align-items-center">
                            <div class="aff-btn">
                                <a href="/affiliate" class="btn btn-primary btn-sm">
                                    Affiliate
                                </a>
                            </div>
                            <div>
                                <p class="text-white d-none d-md-block m-0 w-75 small ml-3">
                                    Earn 55% and more on all sales
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="fact">
                                    <h6 class="mb-1">12,961</h6>
                                    <p class="mb-0">Downloads</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">90</h6>
                                    <p class="mb-0">Authors</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">270</h6>
                                    <p class="mb-0">Themes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom border-top border-dark white pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="pr-2">© 2019 Company name</span>
                        <span class="pr-2"><a href="#">Privacy policy</a></span>
                        <span class="pr-2"><a href="#">Terms of use</a></span>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href="#" class="mr-2"><img src="assets/img/payment/footer-visa.svg" width="42"></a>
                        <a href="#" class="mr-2"><img src="assets/img/payment/footer-mastercard.svg" width="42"></a>
                        <a href="#"><img src="assets/img/payment/footer-paypal.svg" width="42"></a>
                    </div>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
    </footer> <!-- build:js -->


</body>

</html>