<html>

<head>

</head>

<body>


    <app-shared-header></app-shared-header>
    <br>
    <br>
    <br>
    <span>
        <h1 style="text-align: center;margin-top: 10px;">Step 2 of 2: Register your store...</h1>

        <div class="l-container" id="container">
            <div class="card" style="width: 500px;border:none">
                <div class="card-body p-4">
                    <div class="text-center w-75 m-auto">
                        <a href="index.html">
                            <span></span>
                        </a>
                        <p class="text-muted mb-4 mt-3">Enter store details</p>
                        <p style="color: red;" *ngIf="requiredError"> * Please complete
                            required fields</p>
                    </div>
                    <form #storeForm="ngForm">
                        <div class="form-group mb-3">
                            <label for="storeName">Store Name</label>
                            <input class="form-control necessary" name="storeName" type="username" required
                                [(ngModel)]="storeModel.storeName" id="storeName" placeholder="Enter Store Name"
                                (focusout)="storeExists($event)" (keypress)="onlyAlphaNum($event)" #storeName="ngModel">
                            <div class="alert alert-warning text-center" role="alert" style="
                                    padding: 5px; 
                                    margin-top: 10px; 
                                    font-size: 10px;">
                                Note : Store name can only contain letters, numbers, Dash (-) and underscore (_).
                                <!-- <small class="text-muted" style="font-size: 10px;">
                                Note : Store name can only contain letters, numbers, Dash (-)  and underscore (_).
                            </small> -->
                            </div>

                            <p id="store-exists"> <img src="assets/error-icon.svg" style="margin-bottom: 2px;"
                                    height="15px" width="15px" alt=""> Store Name already exists! Try another name</p>
                        </div>


                        <div class="form-group">
                            <label class="form-control-label">Store Info</label>
                            <ckeditor
                                [config]="{ toolbar: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                                [editor]="Editor" [(ngModel)]="storeModel.storeInfo" name="sddsds" rows="3"></ckeditor>

                            <!-- <textarea class="form-control" [(ngModel)]="storeInfo" rows="3"></textarea> -->
                        </div>
                        <div class="form-group mb-3">
                            <label for="service-charges">Service Charges %</label>
                            <input class="form-control" name="service-charges" type="number" id="service-charges"
                                placeholder="Enter Service Charge" [(ngModel)]="storeModel.serviceCharge"
                                (keyup)="serviceChargesChange($event)" min="0" max="100">
                        </div>
                        <label class="form-control-label" style="margin-top: 10px;">Delivery Details</label>
                        <div class="form-group mb-3">
                            <div style="display: inline-block;"><img src="assets/motor-bike-icon.svg" alt=""
                                    height="30px" width="30px"><span style="margin-left:0px;">Maximum Order</span></div>
                            <input class="form-control necessary" name="minOrderQty" type="number"
                                [(ngModel)]="storeModel.minOrderQty" (keyup)="minOrderQtyChange($event)" id="bike"
                                placeholder="Maximum Order Quantity" min="0" max="1000" required>
                        </div>
                        <div class="form-group mb-3">
                            <div style="display: inline-block;"><img src="assets/car-icon.svg" alt="" height="30px"
                                    width="30px"> <span style="margin-left:5px;">Greater Than</span></div>
                            <input class="form-control" name="minOrderCar" type="number"
                                (keyup)="minOrderQtyChange($event)" id="car" value="{{storeModel.minOrderQty}}"
                                readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Email</label>
                            <input class="form-control" name="email" type="email" id="email" placeholder="Enter Email"
                                [(ngModel)]="storeModel.email">
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Phone Number</label>
                            <input class="form-control necessary" required name="phoneNumber" type="tel"
                                id="phoneNumber" placeholder="Enter Phone number" (keyup)="phoneNumberChange($event)"
                                ngModel>
                            <p id="phone-pattern"> <img src="assets/error-icon.svg" style="margin-bottom: 2px;"
                                    height="15px" width="15px" alt="">Only digits are allowed in Phone Number</p>
                        </div>
                        <div class="add-item-img d-flex  border-radius">
                            <select name="delivery-type" class="form-control necessary" id="delivery-type" required
                                [(ngModel)]="storeModel.deliveryType">
                                <option value="" selected="true" disabled="">Delivery Type</option>
                                <option value="SELF">Self Delivery</option>
                                <option value="SCHEDULED">Scheduled</option>
                                <option value="ADHOC">Ad-Hoc</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group mb-3" *ngIf="storeModel.deliveryType=='SELF'">
                            <div id="add-product" (click)='addStateCharges()'>+ Add State Charges</div>
                            <br>
                            <ng-container *ngFor="let stateCharge of storeModel.stateCharges.stateCharges;index as j">
                                <div style="margin-bottom: 20px;">
                                    <select name="state-charges" class="form-control state-charges" required
                                        value="this.storeModel.stateCharges[j].stateId"
                                        (change)="stateChargeChange($event,j)">
                                        <option value="" selected="true" disabled="">States</option>
                                        <option value="{{state.id}}" *ngFor="let state of states"
                                            [disabled]="storeModel.stateCharges.stateIds.includes(state.id)">
                                            {{state.name}}
                                        </option>
                                    </select>
                                    <input class="form-control delivery-state-price" required
                                        name="delivery-state-price" type="number" placeholder="Enter state charge"
                                        min="0" value="this.storeModel.stateCharges.stateCharges[j].price"
                                        (change)="stateChargePriceChange($event,j)">
                                    <span style="margin-left: 5px;cursor: pointer;" (click)='removeStateCharge(j)'>
                                        <mat-icon>remove_circle_outline</mat-icon>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                        <div class="add-item-img d-flex  border-radius">
                            <select name="delivery-package" class="form-control necessary"
                                [(ngModel)]='storeModel.packType' id="delivery-package" required>
                                <option value="" selected="true" disabled="">Item Packaging</option>
                                <option value="parcel">Parcel</option>
                                <option value="DOCUMENT">Document</option>
                                <option value="Food">Food</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="margin-top: 12px;">Region</label>
                            <div class="add-item-img d-flex  border-radius">
                                <select name="Inventory-manager" [(ngModel)]="storeModel.region"
                                    class="form-control necessary" id="region" (change)="regionChange($event)" required>
                                    <option value="">Select region</option>
                                    <option value="{{region.id}}" *ngFor="let region of regions">{{region.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="margin-top: 12px;">States</label>
                            <div class="add-item-img d-flex  border-radius">
                                <select name="Inventory-manager" class="form-control necessary" required
                                    id="state-dropdown">
                                    <option value="" disabled="">Select state</option>
                                    <option value="{{state.id}}" *ngFor="let state of states">{{state.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address" style="margin-top: 12px;">Address</label>
                            <input class="form-control necessary" name="address" type="username"
                                [(ngModel)]="storeModel.address" id="address" required placeholder="Enter Address">
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">City</label>
                            <input class="form-control necessary" name="city" type="username"
                                [(ngModel)]="storeModel.city" id="city" required placeholder="Enter City Name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">Post Code</label>
                            <input class="form-control necessary" name="city" type="username"
                                [(ngModel)]="storeModel.postCode" id="postCode" required placeholder="Enter post code">
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">Logo</label>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input"
                                    (change)="onLogoChanged($event)" />
                                <label class="custom-file-label">Choose
                                    file </label>
                            </div>
                            <div *ngIf="this.logo.preview" class="assets">
                                <img src="{{this.logo.preview}}" alt="" style="max-width: 400px;max-height: 100px;">
                                <img src="assets/red-cross.svg" style="margin-left: 5px;" alt="" height="14px"
                                    width="14px" (click)="deleteLogo()">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">Banner</label>
                            <div class="custom-file">
                                <input type="file" name="file2" class="custom-file-input"
                                    (change)="onBannerChanged($event)" />
                                <label class="custom-file-label">Choose
                                    file </label>
                            </div>
                        </div>
                        <div *ngIf="this.banner.preview" class="assets">
                            <img src="{{this.banner.preview}}" alt="" style="max-width: 400px;max-height: 100px;">
                            <img src="assets/red-cross.svg" style="margin-left: 5px;" alt="" height="14px" width="14px"
                                (click)="deleteBanner()">
                        </div>
                        <label class="form-control-label" style="margin-top: 12px;">Payment Type</label>
                        <div class="add-item-img d-flex  border-radius">
                            <select name="payment-type" class="form-control necessary"
                                [(ngModel)]="storeModel.paymentType" id="payment-type" required>
                                <option value="">Select Payment type</option>
                                <option value="CoD">Cash On delivery</option>
                                <option value="OnlinePayment">Online Payment</option>
                            </select>
                        </div>
                        <br>

                        <div class="form-group">

                            <table class="table" id="store-timmings-table">
                                <thead>
                                    <tr>

                                        <th class="border-0">Day</th>
                                        <th class="border-0">Opening time</th>
                                        <th class="border-0" data-breakpoints="sm xs">Close Time</th>
                                        <th class="border-0" data-breakpoints="xs">Off days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let time of timmings;index as i;" style="width: 700px;">
                                        <!-- <td><input type="checkbox"></td> -->
                                        <td class="border-0">{{time.day}}</td>
                                        <td class="border-0">
                                            <input class="form-control" type="time" id="openTime"
                                                (change)="changeOpenTime($event,i)" value="{{time.openTime}}">
                                        </td>
                                        <td class="border-0">
                                            <input class="form-control" type="time" id="closeTime"
                                                (change)="changeCloseTime($event,i)" value="{{time.closeTime}}">
                                        </td>
                                        <td class="border-0">
                                            <mat-checkbox (change)="changeOn_Off($event,i)" style="text-align: initial;
                                        margin-top: 10px;">
                                            </mat-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group mb-0 text-center" style="margin-top:10px">
                            <input type="button" class="btn btn-primary btn-block"
                                style="height: 40px;padding: 5px;width: 150px;display: inline; margin-right: 10px;"
                                (click)="registerStore(storeForm.form)" name="Register Store" value="Register" />
                            <a class="btn btn-block"
                                style="height: 40px;padding: 10px;width: 150px;display: inline;background-color: red;color: white;"
                                [routerLink]="['/chooseverticle']">
                                Back to Step one</a>
                        </div>
                    </form>

                </div>
                <!-- end card-body -->
            </div>

        </div>
    </span>
</body>

</html>