<html>

<head>

</head>

<body>


    <app-shared-header></app-shared-header>
    <br>
    <br>
    <br>
    <span>
        <h1 style="text-align: center;margin-top: 10px;">Step 2 of 2: Register your store...</h1>

        <div class="l-container" id="container">
            <div class="card" style="width: 500px;border:none">
                <div class="card-body p-4">
                    <div class="text-center w-75 m-auto">
                        <a href="index.html">
                            <span></span>
                        </a>
                        <p class="text-muted mb-4 mt-3">Enter store details</p>
                        <p style="color: red;" *ngIf="requiredError"> * Please complete
                            required fields</p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="storeName">Store Name</label>
                        <input class="form-control" name="storeName" type="username" [(ngModel)]="storeName"
                            id="storeName" required="" placeholder="Enter Store Name" (focusout)="storeExists($event)">
                        <p id="store-exists"> <img src="assets/error-icon.svg" style="margin-bottom: 2px;" height="15px"
                                width="15px" alt=""> Store Name already exists! Try another name</p>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Store Info</label>
                        <ckeditor
                            [config]="{ toolbar: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ] }"
                            [editor]="Editor" [(ngModel)]="storeInfo" rows="3"></ckeditor>

                        <!-- <textarea class="form-control" [(ngModel)]="storeInfo" rows="3"></textarea> -->
                    </div>
                    <label class="form-control-label" style="margin-top: 10px;">Minimum Order</label>
                    <div class="form-group mb-3">
                        <div style="display: inline-block;"><img src="assets/motor-bike-icon.svg" alt="" height="30px"
                                width="30px"></div>
                        <input class="form-control" name="minOrderQty" type="number" [(ngModel)]="minOrderQty"
                            (keyup)="minOrderQtyChange($event)" id="bike" placeholder="Minimum order quantity" min="0"
                            max="1000">
                    </div>
                    <div class="form-group mb-3">
                        <div style="display: inline-block;"><img src="assets/car-icon.svg" alt="" height="30px"
                                width="30px"> <span style="margin-left:5px;">Greater Than</span></div>
                        <input class="form-control" name="minOrderCar" type="number" (keyup)="minOrderQtyChange($event)"
                            id="car" value="{{minOrderQty}}">
                    </div>
                    <label class="form-control-label">Delivery Details</label>
                    <div class="add-item-img d-flex  border-radius">
                        <select name="delivery-type" class="form-control necessary" id="delivery-type">
                            <option value="">Type</option>
                            <option value="Scheduled">Scheduled</option>
                            <option value="Ad-Hoc">Ad-Hoc</option>
                        </select>
                    </div>
                    <br>
                    <div class="add-item-img d-flex  border-radius">
                        <select name="delivery-package" class="form-control necessary" id="delivery-package">
                            <option value="">Packaging</option>
                            <option value="Parcel">Parcel</option>
                            <option value="Document">Document</option>
                            <option value="Food">Food</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Region</label>
                        <div class="add-item-img d-flex  border-radius">
                            <select name="Inventory-manager" [(ngModel)]="region" class="form-control"
                                id="inventory-manage">
                                <option value="">Select region</option>
                                <option value="{{region.id}}" *ngFor="let region of regions">{{region.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="address">Address</label>
                        <input class="form-control" name="address" type="username" [(ngModel)]="address" id="address"
                            required="" placeholder="Enter Address">
                    </div>
                    <div class="form-group mb-3">
                        <label for="city">City</label>
                        <input class="form-control" name="city" type="username" [(ngModel)]="city" id="cit" required=""
                            placeholder="Enter City Name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="city">Post Code</label>
                        <input class="form-control" name="city" type="username" [(ngModel)]="postCode" id="cit"
                            required="" placeholder="Enter post code">
                    </div>
                    <div class="form-group mb-3">
                        <label for="city">Logo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onLogoChanged($event)" />
                            <label class="custom-file-label">Choose
                                file </label>
                        </div>
                        <div *ngIf="this.logo.preview" class="assets">
                            <img src="{{this.logo.preview}}" alt="" height="100px" width="100px">
                            <img src="assets/red-cross.svg" style="margin-left: 5px;" alt="" height="14px" width="14px"
                                (click)="deleteLogo()">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="city">Banner</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onBannerChanged($event)" />
                            <label class="custom-file-label">Choose
                                file </label>
                        </div>
                    </div>
                    <div *ngIf="this.banner.preview" class="assets">
                        <img src="{{this.banner.preview}}" alt="" height="100px" width="100px">
                        <img src="assets/red-cross.svg" style="margin-left: 5px;" alt="" height="14px" width="14px"
                            (click)="deleteBanner()">
                    </div>
                    <div class="form-group">
                        <div style="text-align: center;" (click)='revealTimeTable()' id="store-timmings-text">
                            <span id="store-timmings-text">Set store timmings</span>
                        </div>
                        <table class="table" id="store-timmings-table">
                            <thead>
                                <tr>

                                    <th class="border-0">Day</th>
                                    <th class="border-0">Opening time</th>
                                    <th class="border-0" data-breakpoints="sm xs">Close Time</th>
                                    <th class="border-0" data-breakpoints="xs">On/Off</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let time of timmings;index as i;" style="width: 700px;">
                                    <!-- <td><input type="checkbox"></td> -->
                                    <td class="border-0">{{time.day}}</td>
                                    <td class="border-0">
                                        <input class="form-control" type="time" id="openTime"
                                            (change)="changeOpenTime($event,i)" value="{{time.openTime}}">
                                    </td>
                                    <td class="border-0">
                                        <input class="form-control" type="time" id="closeTime"
                                            (change)="changeCloseTime($event,i)" value="{{time.closeTime}}">
                                    </td>
                                    <td class="border-0">
                                        <mat-checkbox (change)="changeOn_Off($event,i)" style="text-align: initial;
                                        margin-top: 10px;">
                                        </mat-checkbox>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="form-group mb-0 text-center" style="margin-top:10px">
                        <a class="btn btn-primary btn-block"
                            style="height: 40px;padding: 10px;width: 150px;display: inline; margin-right: 10px;"
                            (click)="registerStore()">
                            Register Store </a>
                        <a class="btn btn-block"
                            style="height: 40px;padding: 10px;width: 150px;display: inline;background-color: red;color: white;"
                            [routerLink]="['/chooseverticle']">
                            Back to Step one</a>
                    </div>

                </div>
                <!-- end card-body -->
            </div>

        </div>
    </span>
</body>

</html>