<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-shared-header></app-shared-header>
    <main role="main" class="main">
        <div class="wrapper">


            <div class="container">
                <div class="row">
                    <app-shared-side-panel style="display:inline-block;width: 20%;"></app-shared-side-panel>
                    <div  style="display: inline-block;width: 70%;">


                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Customers</h6>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="table-responsive">
                                            <div style="display: flex;">
                                                <div>
                                                    <input type="text" placeholder="Filter Customers"
                                                        class="form-control filter1"
                                                        style="width:160px; margin-right: 10px;" name="" id="">
                                                </div>
                                                <div id="search" (click)="searchOrders()"> Search</div>
                                            </div>
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th class="border-0">Name</th>
                                                        <th class="border-0">Email</th>
                                                        <th>Orders</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let customer of customers">
                                                        <td class="product">
                                                            {{customer.name}}
                                                        </td>
                                                        <td class="product">
                                                            {{customer.email}}
                                                        </td>
                                                        <td><button type="button"
                                                                class="btn btn-primary width-150 connect-button"
                                                                (click)="openOrdersPage(customer.name)">Orders</button>
                                                        </td>
                                                    </tr>
                                                    <div [hidden]="!(customers.length==0)" style="color:red">No data
                                                        available to view</div>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination pagination-sm">
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="previousPage()">Previous</a>
                                                    </li>

                                                    <li class="page-item pagination {{page.isActive}}"
                                                        *ngFor="let page of pages" style="cursor: pointer;">
                                                        <a class="page-link" (click)="openPage(page.no)">
                                                            {{page.no}}</a>
                                                    </li>
                                                    <li class="page-item add-pointer"><a class="page-link"
                                                            (click)="nextPage()">Next</a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- endbuild -->

</body>

</html>